<h1><?php echo h($cateogry['Deal']['name']); ?></h1>

<p><small>Manufacturer: <?php echo $cateogry['Deal']['userid']; ?></small></p>

<p><?php echo h($cateogry['Deal']['password']); ?></p>

<table>
<tr>
<th>Deal name</th>
<th>Description</th>
</tr>

<?php foreach ($populars as $popular) {?>

<tr>
<td><?php echo $popular['Deal']['name'] ; ?></td>
<td><?php echo $popular['Deal']['description'] ; ?></td>
</tr>
<?php }?>
</table>