<?php $url_assign = $_SERVER['REQUEST_URI'];
	  
	  $uri_assign = basename($url_assign);
	  
	  if($uri_assign!='signup') {
?>

<style>
    .bar,.error {
        color: red;
    }
</style>

<!-- SOCIAL BEGIN -->
	<section id="social" class="bg-color5">
		<div class="container-fluid">
			<div class="title">
				<div class="benefits_l"><img src="<?php echo WEBSITE_ROOT ?>images/stay_tuned.png" class="static_image"></div>
				<h2>Stay tuned</h2>
				<p>Follow us in social networks. You can also subscribe for our news.</p>
			</div>
			
			<ul class="soc-list wow flipInX">
				<li><a href="#"><i class="icon soc-icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon soc-icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon soc-icon-googleplus"></i></a></li>
				<li><a href="#"><i class="icon soc-icon-instagram"></i></a></li>
				<li><a href="#"><i class="icon soc-icon-pinterest"></i></a></li>
			</ul>
			
			
			<form action="scripts/subscribe.php" method="post" id="subscribe_form">
            	<div class="input-group">
                	<input class="form-control" type="email" name="email" id="subscribe_email" placeholder="Subscribe">
                    <div class="input-group-btn">
                    	<button type="submit" id="subscribe_submit" data-loading-text="&bull;&bull;&bull;"><i class="icon icon-paper-plane"></i></button>
                    </div>
                </div>
            </form>
			
		</div>
	</section>
	<!-- SOCIAL END -->
	

	
	<!-- FOOTER BEGIN -->
	<footer id="footer">
		<div class="container"> 
			<p class="copyright">&copy; 2016 - All Rights Reserved. Site by: Emissary</p>
		</div>
	</footer>
	<!-- FOOTER END --> 
	
</div>


<!-- MODALS BEGIN--> 


<!-- contact modal-->
<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
		<div class="popup-custom">
		  
		  <div class="card"></div>
		  <div class="card">
		    <h1 class="title">Login</h1>
		    <form method="post" >
				<div class="input-container cat-type">
		        <span>
			        <input type="radio" id="agent" class = "loginType" value ="agent" name="loginType" />
			        <label for="agent">Agent</label>
		        </span>

		        <span>
		        	<input type="radio" id="company" class = "loginType" value ="company" name="loginType"/>
		        	<label for="company">Company</label>
		        </span>
				
		      	</div>
				<span class="bar" id="error_type_login" ></span>
				
			  
		      <div class="input-container">
		        <input type="text" name="username_login" id="username_login" required/>
		        <label for="Username">Username</label>
		        <div id="username_error" class="bar"></div>
		      </div>
		      <div class="input-container">
		        <input type="password" name="password_login" id="password_login" required/>
		        <label for="Password">Password</label>
		        <div id="password_error" class="bar"></div>
		      </div>
			  <div id="login_error" class="bar errDiv"></div>
		      <div class="button-container">
		        <button id="web_login" ><span>Go</span></button>
		      </div>
		      <div class="footer"><a href="<?php echo WEBSITE_ROOT.'users/forgot_password'; ?>">Forgot your password?</a></div>
		    </form>
		  </div>

		  <div class="card alt">
		    <div class="toggle"></div>
		    <h1 class="title">Register
		      <div class="close"></div>
		    </h1>
		    <form id="register_form">
		      <div class="input-container cat-type">
		        <span>
			        <input type="radio" id="agent" name="cat" value="agent" />
			        <label for="agent">Agent</label>
		        </span>				
		        <span>
		        	<input type="radio" id="Provider" value="provider" name="cat"/>
		        	<label for="Provider">Company</label>
		        </span>
				<span class="error" id="error_type" ></span>
		      </div>
			  
		      <div class="input-container">
		        <input type="text" name="fullname" id="fullname" value="" onkeypress="return lettersOnly(event, this);" required/>
		        <label for="fullname">Full Name</label>
		        <div class="bar" id="error_name" ></div>
		      </div>
		      <div class="input-container">
		        <input type="text" name="emailid" id="email" value="" onchange="return email_validate(this.value, 'reg_error');" required/>
		        <label for="email">Email Id</label>
		        <div class="bar" id="error_email" ></div>
		      </div>
		      <div class="input-container">
		        <input type="text" name="mobileno" id="mobile" value="" onkeypress="return onlyNumbers(event, this);" required/>
		        <label for="mobile">Mobile Number</label>
		        <div class="bar" id="error_mobile" ></div>
		      </div>
		      <div class="input-container">
		        <input type="password" name="password" value="" id="password" required/>
		        <label for="Password">Password</label>
		        <div class="bar" id="error_password" ></div>
		      </div>
		     <div id="reg_error" class="bar errDiv"></div>
		      <div class="button-container">
		        <button id="web_register"><span>Register</span></button>
		      </div>
		    </form>
		  </div>
		  
		  
		  
		</div>

		</div>
	</div>
</div>

<!-- MODALS END-->


<!-- JavaScript --> 


<?php
echo $this->Html->script('jquery-1.8.2.min');
echo $this->Html->script('bootstrap.min');
echo $this->Html->script('owl.carousel.min');
echo $this->Html->script('jquery.validate.min');
echo $this->Html->script('wow.min');
echo $this->Html->script('smoothscroll');
echo $this->Html->script('jquery.smooth-scroll.min');
echo $this->Html->script('jquery.superslides.min');
echo $this->Html->script('placeholders.jquery.min');
echo $this->Html->script('jquery.magnific-popup.min');
echo $this->Html->script('jquery.stellar.min');
echo $this->Html->script('retina.min');
echo $this->Html->script('typed');
echo $this->Html->script('custom');

?>
<!-- sanchit start -->
<?php include('js/customJS.php'); ?>
<!-- sanchit end -->

<!--<script src="<?php echo WEBSITE_ROOT; ?>js/jquery-1.8.2.min.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/bootstrap.min.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/owl.carousel.min.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/jquery.validate.min.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/wow.min.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/smoothscroll.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/jquery.smooth-scroll.min.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/jquery.superslides.min.js"></script>
<script src="<?php echo WEBSITE_ROOT; ?>js/placeholders.jquery.min.js"></script>
<script src="<?php echo WEBSITE_ROOT; ?>js/jquery.magnific-popup.min.js"></script>
<script src="<?php echo WEBSITE_ROOT; ?>js/jquery.stellar.min.js"></script>
<script src="<?php echo WEBSITE_ROOT; ?>js/retina.min.js"></script>
<script src="<?php echo WEBSITE_ROOT; ?>js/typed.js"></script> 
<script src="<?php echo WEBSITE_ROOT; ?>js/custom.js"></script> -->

<script type="text/javascript">
	
	/*
	function login_validate(event)
	{
		
		var username = $("#username_login").val();
		var password = $("#password_login").val();
		//alert(username);
		//alert(password);
		
		$.ajax({
			   type: "POST",		   
			   url: "<?php echo WEBSITE_ROOT.'users/login'; ?>",
			   data:'username='+username+"&password="+password,	
			   success: function(data){
					alert(data);
					//alert(password);
			   }
		
			 });
		event.preventDefault();
		return false;
		
	
	}
	*/
	
	$(".modal-dialog").on('click', '#web_login', function(event){
		event.preventDefault();
		var username = $("#username_login").val();
		var password = $("#password_login").val();
		var loginType = $('input[name="loginType"]:checked').val();	
		var error = false;
		
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  		var username_valid = regex.test(username);
		
		//alert(username_valid);
		if(username=='')
		{
			$('#username_error').html('Please Enter email Address.');
			error=true;
		}
		else if(username_valid===false)
		{
			$('#username_error').html('Please Enter valid email Address.');
			error=true;
		}
		else
		{
			$('#username_error').html('');
		}
		
		if(password=='')
		{
			$('#password_error').html('Please Enter Password.');
			error=true;
		}
		else
		{
			$('#password_error').html('');
		}
		
		if(error)
		{
			return false;
		}
		
		//alert(loginType);
		$.ajax({
				type: "POST",		   
			    url: "<?php echo WEBSITE_ROOT.'users/login'; ?>",
			    data:'username='+username+"&password="+password+"&loginType="+loginType,	
			    success: function(data){
				//alert(data);
				
					if((data=="success" && loginType == "company") && (data="redirectClient"))
					{
						//alert('login');
						$("#login_error").html('');
						window.location.href = "<?php echo WEBSITE_ROOT ?>clients/index";
					}
					else if((data=="success" && loginType == "agent") && (data="redirectAgent"))
					{
						//alert('login');
						$("#login_error").html('');
						window.location.href = "<?php echo WEBSITE_ROOT ?>agents/availableShops";
					}
					else
					{
						//alert(data);
						$("#login_error").html(data);
						return false;
					}
					//alert('outside');
		   	    }
		});
		
		return false;
	});



	/*  Signup Code goes here */



	$(".modal-dialog").on('click', '#web_register', function(event){
	//$( "#autoAssign123" ).click(function() {		
			
		var fullname = $("#fullname").val();
		var email = $("#email").val();
		var mobile = $("#mobile").val();
		var password = $("#password").val();
		var register_type = $('input[name="cat"]:checked').val();
		var error = 0;
		var errorMsg = '';
		//alert(register_type);
		
		if(register_type===undefined)
		{
			$('#error_type').html('Please Select Type.');
			error++;
		}
		else
		{
			$('#error_type').html('');
		}
		
		if(fullname =='')
		{
			$('#error_name').html('Please Enter Full Name.');
			error++;
		}
		else
		{
			$('#error_name').html('');
		}
		if(email =='')
		{
			$('#error_email').html('Please Enter Email Address.');
			error++;
		}
		else{
			var email_valid = email_validate(email, 'reg_error');
			//alert(email_valid);
			if(email_valid) {
				$('#error_email').html('');
			}
			else{
				$('#error_email').html('Please Enter Valid Email Address.');
				error++;
			}
		}

		if(mobile =='')
		{
			$('#error_mobile').html('Please Enter Mobile No.');
			error++;
		}		
		else if(mobile.length != 10)
		{			
			$('#error_mobile').html('Mobile number must be exaclty 10 digits.');
			error++;
		}
		else
		{
			$('#error_mobile').html('');
		}
		if(password =='')
		{			
			$('#error_password').html('Please enter your desired password.');
			error++;
		}
		else if (password.length < 8) {			
			$('#error_password').html('Password length must be greater than 8.');
			error++;
		}
		else
		{
			$('#error_password').html('');
		}

		//alert(loginType);
		if(error) {
			$("#reg_error").html(errorMsg);
			return false;
		}
		else{
			$.ajax({
				type: "POST",		   
			    url: "<?php echo WEBSITE_ROOT.'users/signup'; ?>",
			    data:'fullname='+fullname+"&email="+email+"&mobile="+mobile+"&password="+password+"&register_type="+register_type,	
			    success: function(data){
					alert(data);
					window.location.reload();
		   	    }
			});
		}
		event.preventDefault();
		return false;
	});


	$('.toggle').on('click', function() {
	  $('.popup-custom').stop().addClass('active');
	});

	$('.close').on('click', function() {
	  $('.popup-custom').stop().removeClass('active');
	});
	
	
</script>
<!--[if lte IE 9]>
	<script src="<?php echo WEBSITE_ROOT; ?>scripts/respond.min.js"></script>
<![endif]-->

<?php } ?>

</body>
</html>