<h1><?php echo h($merchant['Merchant']['firstname']); ?></h1>

<p><small>Manufacturer: <?php echo $merchant['Merchant']['emaild']; ?></small></p>

<p><?php echo h($merchant['Merchant']['password']); ?></p>