.user-task, .user-time {
  margin: 0;
  font-size: 13px;
  color: #fff; }

.dynamic-color .red, .dynamic-color .pink, .dynamic-color .purple, .dynamic-color .deep-purple, .dynamic-color .indigo, .dynamic-color .blue, .dynamic-color .light-blue, .dynamic-color .cyan, .dynamic-color .teal, .dynamic-color .green, .dynamic-color .light-green, .dynamic-color .lime, .dynamic-color .yellow, .dynamic-color .amber, .dynamic-color .orange, .dynamic-color .deep-orange, .dynamic-color .brown, .dynamic-color .grey, .dynamic-color .blue-grey {
  height: 55px;
  width: 100%;
  padding: 0 15px;
  line-height: 55px;
  font-weight: 500;
  font-size: 12px;
  display: block;
  box-sizing: border-box; }

body {
  background-color: #fcfcfc; }

#main {
  padding-left: 240px; }

footer {
  padding-left: 240px; }
  footer.page-footer {
    padding-top: 0; }

.margin {
  margin: 0; }

#sidenav-overlay {
  background-color: transparent; }

.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%; }

#left-sidebar-nav {
  position: relative;
  width: 100px;
  z-index: 999;
  height: auto; }
  #left-sidebar-nav span.badge.new {
    line-height: 20px;
    margin-top: 11px; }

@media only screen and (min-width: 601px) {
  .container {
    width: 98%; } }
@media only screen and (min-width: 993px) {
  .container {
    width: 98%; } }
@media only screen and (max-width: 993px) {
  #main {
    padding-left: 0; }

  footer {
    padding-left: 0; } }
.small {
  font-size: 1.0rem;
  margin: 0;
  padding: 0; }

.medium-small {
  font-size: 0.9rem;
  margin: 0;
  padding: 0; }

.ultra-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0; }

small {
  font-size: 0.8rem; }

.strong {
  font-weight: 600; }

h4.header {
  font-size: 1.5rem;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase; }
h4.header2 {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase; }

p.title {
  font-size: 1.3rem; }
p.header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase; }

li.li-hover:hover {
  background: transparent !important; }
li.search-out:hover {
  background: transparent; }
li.mobile:before {
  background: #f7464a; }
li.kitchen:before {
  background: #46bfbd; }
li.home:before {
  background: #fdb45c; }

.more-text {
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase; }

.valign-demo {
  height: 400px;
  background-color: #ddd; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    transform: translateX(0); }
    #loader-wrapper .loader-section.section-left {
      left: 0; }
    #loader-wrapper .loader-section.section-right {
      right: 0; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
  z-index: 1001; }
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite; }
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite; }

#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url(../images/user-bg.jpg) no-repeat center center;
  z-index: 1001; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out; }
  .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out; }

.progress {
  background-color: rgba(255, 64, 129, 0.22); }

h1.logo-wrapper {
  margin: 0; }
h1 span.logo-text {
  display: none; }

@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center; }
    nav .nav-wrapper a.page-title {
      font-size: 36px; }

  ul.side-nav.fixed {
    top: 56px; } }
.search-out {
  display: none; }
  .search-out input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: none; }

.search-out-text {
  border-bottom: 1px solid #fff !important; }

.side-nav a {
  line-height: 42px;
  height: 42px; }
.side-nav .collapsible-body li a {
  margin: 0 1rem 0 3rem; }

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem; }
#slide-out ul.side-nav li {
  padding: 0 !important; }

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px; }

.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase; }

.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px; }

.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444; }

.rightside-navigation {
  overflow: hidden; }

.chat-close-collapse {
  padding: 5px 15px 0 0; }

#chat-out .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: 45px;
  height: 45px;
  font-weight: 400; }
#chat-out .chat-out-list {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0; }
#chat-out .favorite-associate-list .circle {
  border-radius: 50px;
  border: 2px solid #999;
  padding: 3px;
  display: block; }
#chat-out .favorite-associate-list .online-user {
  border: 2px solid #00e676; }
#chat-out .favorite-associate-list p {
  padding: 0; }
  #chat-out .favorite-associate-list p.place {
    font-size: 0.8rem; }
#chat-out .recent-activity-list-icon {
  margin-top: 8px;
  font-size: 2rem; }
#chat-out .recent-activity-list-text a {
  font-size: 0.8rem;
  padding: 0;
  font-weight: 600; }
#chat-out .recent-activity-list-text p {
  font-size: 0.9rem;
  padding: 0; }

.breadcrumb {
  padding: 0;
  margin: 15px 0;
  list-style: none; }
  .breadcrumb a {
    color: #00bcd4; }
  .breadcrumb .active {
    font-weight: normal;
    color: #999; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0"; }

.breadcrumbs-title {
  font-size: 1.5rem;
  line-height: 1.804rem;
  margin: 18px 0 0; }

.breadcrumbs-nav {
  margin: 8px 0 9px; }

#card-stats .card-content {
  text-align: center; }
#card-stats .card-stats-title {
  font-size: 1.2rem; }
  #card-stats .card-stats-title i {
    font-size: 1.2rem; }
#card-stats .card-stats-compare {
  font-size: 1.0rem; }
  #card-stats .card-stats-compare i {
    position: relative;
    top: 5px; }
#card-stats .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500; }
#card-stats .card .card-content {
  padding: 10px 14px; }
#card-stats .card .card-action {
  padding: 10px 14px; }

#work-collections .collection-header {
  font-size: 1.64rem;
  font-weight: 500; }
#work-collections p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500; }
#work-collections p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400; }
#work-collections .collection-item.avatar {
  height: auto; }

#flight-card .flight-card-title {
  margin: 0;
  font-weight: 300; }
#flight-card .flight-card-date {
  font-size: 1.0rem;
  margin: 0; }
#flight-card .flight-state {
  padding-bottom: 15px; }
#flight-card .flight-state-two {
  border-left: 1px dashed #9e9e9e; }
#flight-card .flight-icon {
  font-size: 2.2rem;
  display: block; }
#flight-card .card-content-bg {
  background: url(../images/sample-1.jpg) no-repeat center center;
  background-size: cover; }
#flight-card .card-content {
  background: rgba(0, 0, 0, 0.25); }
#flight-card .flight-state-wrapper {
  margin: 0 0 100px 0 !important; }
#flight-card .card-header .card-title {
  padding: 20px; }

#task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto; }
#task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300; }
#task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff; }
#task-card .collection-header {
  padding: 20px; }
#task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  border-radius: 2px;
  background-clip: padding-box; }

.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  border-radius: 2px;
  background-clip: padding-box; }

#profile-card .card-image {
  height: 150px; }
#profile-card .card-profile-image {
  width: 80px;
  position: absolute;
  top: 90px;
  z-index: 1;
  cursor: pointer; }
#profile-card .btn-move-up {
  position: relative;
  top: -45px;
  right: -18px;
  margin-right: 10px !important; }
#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px; }

#chart-dashboard {
  padding-top: 12px; }
  #chart-dashboard .card .card-content {
    padding: 10px 14px; }

.sample-chart-wrapper {
  width: 100%; }

.chart-title {
  font-size: 1.6rem;
  font-weight: 300; }

.chart-revenue {
  float: right;
  text-align: center;
  padding: 8px;
  border-radius: 3px; }
  .chart-revenue .chart-revenue-total {
    font-size: 0.9rem;
    margin: 0; }
  .chart-revenue .chart-revenue-per {
    font-size: 0.8rem;
    margin: 0; }
    .chart-revenue .chart-revenue-per i {
      position: relative;
      top: 5px; }

.chart-revenue-switch {
  padding-top: 28px;
  padding-right: 10px;
  color: #fff;
  text-align: right; }

.doughnut-chart-status {
  position: relative;
  top: -75px;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  height: 0;
  text-align: center; }
  .doughnut-chart-status p {
    margin-top: -5px; }

.trending-bar-chart-wrapper {
  width: 100%; }

.btn-move-up {
  position: relative;
  top: -28px;
  right: -18px;
  margin-right: 10px !important; }

.flotchart-placeholder {
  width: 100%;
  height: 300px;
  font-size: 13px;
  line-height: 1.2em; }

#flotchart table {
  position: absolute;
  top: 13px;
  right: 17px;
  font-size: smaller;
  color: #545454;
  width: 100px; }
#flotchart td {
  padding: 5px; }

th {
  padding: 5px; }

.xchart-placeholder {
  width: 90%;
  height: 300px; }

.tooltip-class {
  overflow: hidden;
  color: #fff;
  height: 20px;
  width: 30px; }

.socialbox .logo {
  color: #fff;
  font-size: 28px;
  left: 20px;
  bottom: 20px;
  position: absolute; }
.socialbox .info {
  color: #fff;
  margin: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  padding: 0; }

#full-calendar {
  padding-top: 30px; }

#calendar h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px; }
#calendar .fc-day-header {
  text-transform: uppercase;
  font-weight: 400; }

#external-events {
  padding-top: 50px; }
  #external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none; }

.fc button {
  background: #fff; }
.fc td {
  border-width: 0 !important; }
.fc th {
  border-width: 0 !important; }

.fc-state-active {
  color: #ff4081 !important; }

.fc-state-down {
  color: #ff4081 !important; }

.dynamic-color .col {
  margin-bottom: 55px; }

@media only screen and (max-width: 1024px) {
  tfoot {
    display: none; } }
#site-layout-example-left {
  background-color: #90a4ae;
  height: 300px; }

#site-layout-example-right {
  background-color: #26a69a;
  height: 300px; }

#site-layout-example-top {
  background-color: #e57373;
  height: 50px; }

.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  margin: 27px auto; }

.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  margin: 27px auto; }
  .flat-text.small {
    width: 25%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.15); }
  .flat-text.full-width {
    width: 100%; }

.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  background-clip: padding-box;
  background-color: transparent;
  margin: 20px 0;
  overflow: hidden; }
  .browser-window .top-bar {
    height: 30px;
    border-radius: 5px 5px 0 0;
    background-clip: padding-box;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #ddd;
    background: linear-gradient(#e7e7e6, #e0e0e0); }
  .browser-window .circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 1px; }
  .browser-window .circles {
    margin: 5px 12px; }
  .browser-window .content {
    margin: 0;
    width: 100%;
    display: inline-block;
    border-radius: 0 0 5px 5px;
    background-color: #fafafa; }
  .browser-window .row {
    margin: 0; }

#close-circle {
  background-color: #ff5c5a; }

#minimize-circle {
  background-color: #fdb45c; }

#maximize-circle {
  background-color: #1bc656; }

.clear {
  clear: both; }

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0; }

.icon-demo {
  line-height: 50px; }

.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px; }
.icon-container .icon-preview {
  height: 120px;
  text-align: center; }

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;
  float: left;
  margin: 0 0 15px 0; }
  .icon-holder p {
    margin: 0; }

.login-form {
  width: 280px; }

.login-form-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem; }

.profile-image-login {
  width: 100px;
  height: 100px !important; }

.login-text {
  margin-top: -6px;
  margin-left: -6px !important; }

.text-long-shadow {
  text-shadow: #1d7d74 1px 1px, #1d7d74 2px 2px, #1d7d74 3px 3px, #1d7d74 4px 4px, #1d7d74 5px 5px, #1d7d74 6px 6px, #1d7d74 7px 7px, #1d7d74 8px 8px, #1d7d74 9px 9px, #1d7d74 10px 10px, #1d7d74 11px 11px, #1d7d74 12px 12px, #1d7d74 13px 13px, #1d7d74 14px 14px, #1d7d74 15px 15px, #1d7d74 16px 16px, #1d7d74 17px 17px, #1d7d74 18px 18px, #1d7d74 19px 19px, #1d7d74 20px 20px, #1d7d74 21px 21px, #208b81 22px 22px, #208b81 23px 23px, #208b81 24px 24px, #208b81 25px 25px, #208b81 26px 26px, #208b81 27px 27px, #208b81 28px 28px, #208b81 29px 29px, #208b81 30px 30px, #26a69a 31px 31px, #26a69a 32px 32px, #26a69a 33px 33px, #26a69a 34px 34px, #26a69a 35px 35px, #26a69a 36px 36px, #26a69a 37px 37px;
  background-color: #26a69a;
  width: 100%;
  font-size: 10rem;
  color: #fff !important;
  text-align: center;
  padding: 20px 0 !important; }

#mail-app hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0; }
#mail-app #email-sidebar {
  margin-top: 0; }
#mail-app #email-list {
  margin-top: 0; }
#mail-app #email-details {
  margin-top: 0; }
#mail-app .modal .modal-content {
  padding: 0; }

#email-sidebar {
  min-height: 650px; }
  #email-sidebar li {
    padding: 10px 0;
    text-align: center; }
    #email-sidebar li i {
      padding: 12px;
      color: #272727; }
      #email-sidebar li i.active {
        background: #ddd;
        border-radius: 2px; }
      #email-sidebar li i:hover {
        background: #ddd;
        border-radius: 2px; }

#email-list {
  padding: 0; }
  #email-list .collection {
    margin: 0; }
    #email-list .collection .collection-item.avatar {
      height: auto;
      padding-left: 72px;
      position: relative; }
      #email-list .collection .collection-item.avatar .secondary-content {
        position: absolute;
        top: 10px;
        right: -4px; }
        #email-list .collection .collection-item.avatar .secondary-content.email-time {
          right: 8px; }
      #email-list .collection .collection-item.avatar .icon {
        position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        top: 20px; }
      #email-list .collection .collection-item.avatar .circle {
        position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 300;
        padding: 10px; }
      #email-list .collection .collection-item.avatar img.circle {
        padding: 0; }
    #email-list .collection .collection-item:hover {
      background: #e1f5fe;
      cursor: pointer; }
    #email-list .collection .collection-item.selected {
      background: #e1f5fe;
      border-left: 4px solid #29b6f6; }
  #email-list .attach-file {
    transform: rotate(90deg);
    color: #9e9e9e;
    font-size: 1.1rem; }

#email-details {
  padding: 15px; }
  #email-details .email-subject {
    font-size: 1.2rem; }
    #email-details .email-subject i {
      font-size: 2.2rem; }
  #email-details .email-tag {
    padding: 3px;
    font-size: 0.9rem; }
  #email-details .collection {
    border: none; }
    #email-details .collection .collection-item.avatar {
      height: auto;
      padding-left: 72px;
      position: relative; }
      #email-details .collection .collection-item.avatar .icon {
        position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle;
        top: 20px; }
      #email-details .collection .collection-item.avatar .circle {
        position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 300;
        padding: 10px; }
      #email-details .collection .collection-item.avatar img.circle {
        padding: 0; }
    #email-details .collection .collection-item.selected {
      background: #e1f5fe;
      border-left: 4px solid #29b6f6; }
  #email-details .email-actions {
    padding-top: 25px; }
    #email-details .email-actions a {
      color: #757575;
      padding: 5px; }

.email-reply {
  padding-top: 20px; }
  .email-reply a {
    color: #757575; }
    .email-reply a i {
      font-size: 2rem; }
  .email-reply p {
    color: #757575;
    margin: 0; }

.model-email-content {
  padding: 24px; }

.invoice-table {
  padding-top: 40px; }

.invoice-text {
  padding: 18px 0; }

.shadow-demo {
  background-color: #26a69a;
  width: 100px;
  height: 100px;
  margin: 20px auto; }

.collapsible-header {
  font-weight: 500; }

#world-map-markers {
  height: 300px; }

#polar-chart-holder {
  padding-top: 20px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .doughnut-chart-status {
    display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .doughnut-chart-status {
    display: none; }

  #card-stats .card-stats-compare {
    font-size: 0.8rem; } }
#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem; }

#content .container .row {
  margin-bottom: 0; }

.no-js #loader-wrapper {
  display: none; }

header .brand-logo {
  margin: 5px 0;
  padding: 0 20px; }

ul.side-nav.fixed {
  top: 64px;
  overflow: hidden; }
  ul.side-nav.fixed hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 1em 0;
    padding: 0; }
  ul.side-nav.fixed li {
    line-height: 44px; }
    ul.side-nav.fixed li:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    ul.side-nav.fixed li.active {
      background-color: rgba(0, 0, 0, 0.05); }
    ul.side-nav.fixed li a {
      font-size: 14px;
      font-weight: 400; }
    ul.side-nav.fixed li.user-details {
      background: url(../images/user-bg.jpg) no-repeat center center;
      background-size: cover;
      margin-bottom: 15px;
      padding: 15px 0 0 15px; }
  ul.side-nav.fixed .profile-btn {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px; }
  ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #fff; }
ul.side-nav li {
  padding: 0; }
ul.side-nav .collapsible-header {
  margin: 0; }

.user-details .row {
  margin: 0; }

.bold > a {
  font-weight: bold; }

nav.top-nav {
  height: 122px;
  box-shadow: none; }
  nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px; }

#right-search .input-field {
  margin-top: 0; }

h5.breadcrumbs-header {
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 1.5rem 0 0 0; }

.collection .collection-item.avatar i.circle {
  font-size: 28px; }

.doughnut-chart-legend li {
  padding: 2px 0;
  font-size: 0.9rem; }
  .doughnut-chart-legend li:before {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 4px; }

a.button-collapse.top-nav {
  position: absolute;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2; }

#ct2-chart .ct-series.ct-series-a .ct-area {
  fill: #00bcd4; }
#ct2-chart .ct-series.ct-series-a .ct-point {
  stroke: #00bcd4; }
#ct2-chart .ct-series.ct-series-a .ct-line {
  stroke: #54e2f4; }

tr.group {
  background-color: #ddd !important; }
  tr.group:hover {
    background-color: #ddd !important; }

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: #fff;
  padding: 0; }
  .col.grid-example span {
    font-weight: 200;
    line-height: 50px; }

.waves-color-demo .collection-item {
  height: 57px;
  line-height: 57px; }

.promo i {
  color: #ee6e73;
  font-size: 6rem;
  display: block; }

.email-unread .email-title {
  font-weight: 500; }

.invoice-icon i {
  font-size: 2rem; }

/*# sourceMappingURL=style.css.map */
