<?php //echo $jsonData;  ?>
<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>

<body>
</body>

<script type="text/javascript">
	var json = '<?php echo isset($jsonData)?$jsonData:"";?>';
	if(json !='' && typeof json !='undefined')	{
		init(json);
	}
	
    function init(val){
		
		val = JSON.parse(val);
		//alert(val.access_code);
		var data = val;
 					
                    $.ajax({
                            type:           'post',
                            cache:          false,
                            url:            '<?php echo API_ROOT ?>activations/ap2',
                            data:           data,
							success: function(msg){
							//alert('sdfsdf');
								location.href = "<?php echo API_ROOT ?>activations/book_test";
    						}
                           });
	
	
	 			
	
  
	
    }
	//init(kill);
</script>
</html>



