<?php
@session_start();
?>

 <div class="product">       
 
 	<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</p>     
    
    <div class="btn"><?php /*
    <form action="<?php echo $paypal_url ?>" method="post" name="frmPayPal1" id="paypal">
    <input type="hidden" name="business" value="<?php echo $paypal_id ?>"> 
    <input type="hidden" name="ride_id" value="<?php echo $ride_id ?>">
    <input type="hidden" name="payment_by" value="<?php echo $payment_by ?>">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="tx" value="TransactionID">
    <input type="hidden" name="at" value="Q1lMnMXNhXayxwdFpNjJZSIPGVkJSf35CvqeWz6O8-daQgNU6iIipjzckIS"> 
    <input type="hidden" name="cancel_return" value="http://27.109.11.53/ridecare/api/payment_with_paypal/cancel.php">
    <input type="hidden" name="return" value="http://27.109.11.53/ridecare/api/payment_with_paypal/success.php">
	<!--<input type="hidden" name="item_name" value="Khushbu">
	<input type="hidden" name="amount" value="10">-->
	<?php /*
    $suffix = 1;
		foreach($items as $item):
	?>
	<input type="hidden" name="item_name_<?php echo $suffix; ?>" value="<?php echo $item['name']; ?>"> 
	<input type="hidden" name="amount_<?php echo $suffix; ?>" value="<?php echo $item['price']; ?>"> 
	<?php
		$suffix++;
		endforeach;*/
	?>
	<?php /*
    <input type="hidden" name="item_number" value="1">
    <input type="hidden" name="credits" value="510">
    <input type="hidden" name="userid" value="1">
   
    <input type="hidden" name="cpp_header_image" value="http://www.phpgang.com/wp-content/uploads/gang.jpg">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="handling" value="0">
    <!--<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
   
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form> */ ?>
	
	
	<form action="<?php echo $action; ?>" method="post">
		<input type="hidden" name="cmd" value="<?php echo $postdata['cmd'] ?>">
		<input type="hidden" name="upload" value="1">
		<input type="hidden" name="business" value="<?php  echo $postdata['paypal_id'] ?>">
		<input type="hidden" name="currency_code" value="<?php  echo $postdata['currency_code'] ?>">

		<?php 
			$items	=	$postdata['items'];
			$suffix = 1;
			foreach($items as $key=>$item){
				//print_r($key);exit;
			?>
			<input type="hidden" name="item_name_<?php echo $suffix; ?>" value="<?php echo $key; ?>"> 
			<input type="hidden" name="amount_<?php echo $suffix; ?>" value="<?php echo $item; ?>"> 
			<?php
				$suffix++;
			}
			?>
		<input type="hidden" name="tx" value="<?php  echo $postdata['tx'] ?>">
		<input type="hidden" name="at" value="<?php  echo $postdata['at'] ?>"> 
		<input type="hidden" name="cancel_return" value="<?php  echo $postdata['cancel_return'] ?>">
		<input type="hidden" name="return" value="<?php  echo $postdata['return'] ?>">
		
        
        <input type="button" onclick="back_agent();" value="Back" name="back" />
		<input type="submit" value="Make Payment" name="submit" />

	</form>
    </div>
</div> 


<script type="text/javascript">
  function myfunc () {
     var frm = document.getElementById("paypal");
     frm.submit();
  }
  window.onload = myfunc;
  
  function back_agent()
  {
	  window.location.href = '<?php echo WEBSITE_ROOT.'agents/availableShops' ?>';
  }
  
</script>

