<meta http-equiv="refresh" content="10;url=<?php echo $url; ?>">
<h1 style="text-align:center"><?php echo $msg; ?></h1>
<p>You will be automaticaly redirected back to the application in 10 seconds.If not, <a href="<?php echo $url; ?>">Click here</a></p>

