<?php

echo $this->Html->script('jquery.dataTables.min');
echo $this->Html->css('jquery.dataTables.min');
?>
<script>
    $(document).ready(function () {

        $('#settelmentTable').DataTable();

    });
</script>
<style>
.table-custom .table>thead>tr>th{
            text-align: left !important;
    }  
    
 .table-custom .table>tbody>tr>td{
            text-align: left !important;
    }     
</style>
<?php  //echo "<pre>"; print_r($res); exit; ?>
<div class="clearfix"></div>
<div class="table-custom shadow">
    <table id="settelmentTable" class="table text-center">
        <thead>
            <tr>
                <th>Categories Name</th>
                <th>Survey Name</th>                        
                <th>Total Question</th>                
            </tr>
        </thead>
        <tbody>
            <?php foreach ($res as $job_list) { ?>          
        <td><?php echo $job_list['survey_categories']['survey_category_title']; ?></td>
        <td><?php echo $job_list['surveys']['survey_name']; ?></td>
        <td><?php echo $job_list['0']['que_count']; ?></td>
        </tr>
         <?php }  ?>
        </tbody>
    </table>
    <footer class="table-footer">
        <div class="row">                   
        </div>
    </footer>
</div>
<?php exit(); ?>