<!-- modal start --> 

<div class="modal" id="modal_checkwaitlist" style="display: none; opacity: 1; width:35%; top: 0px;">
  <div class="modal-content">
    <div class="col s12 m12">
      <div class="col s12 m12">
                <div class="modal-header cyan">
    <h1 class="center modal-header-pattern" >Emissary</h1>
   </div>
   <div class="modal-content">
    <h4 class="header center">Refund Payment</h4>
    
   
    <div class="row">
     
     <input type="hidden" name="transactionID" id="transactionID" value="" />
     
     <input type="hidden" name="payment_id" id="payment_id" value="" />
     
     <div class="input-field col s12">
     
     <select name="refund_type" id="refund_type" >
     	<option value="">Select</option>
     	<option value="full">Full</option>
        <option value="Partial">Partial</option>
     </select>
     
     <label for="username" class="">Refund Type</label>
     <span id="error_type" class="errCalss col s12"></span>
     </div>
     
     <div class="input-field col s12" id="amount_valid" style="display:none;">
    
     <input type="text" name="amount" id="amount" value="" onkeypress="return onlyNumbers(event);" />	
     <label for="username" class="">Amount</label>
     <span id="error_amount" class="errCalss col s12"></span>
     </div>
     
     <button id="checkforrefund" class="btn waves-effect waves-red btn-flat modal-action modal-close center">OK</button>
                    
                    <button onclick="cancel_refund();" class="btn waves-effect waves-red btn-flat modal-action modal-close center">Cancel</button>
     </div>
     
     
    </div>
   </div>
  </div>
 </div>
</div>

<!-- modal end -->

<!-- START FOOTER -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container"> Copyright © <?php echo date("Y"); ?> <a class="grey-text text-lighten-4" href="<?php echo ADMIN_ROOT; ?>" target="_blank">Emissary</a> All rights reserved. <span class="right"> Design and Developed by <a target="_blank" class="grey-text text-lighten-4" href="http://www.solulab.com/">Solulab Inc.</a></span> </div>
  </div>
</footer>
<!-- END FOOTER --> 

<!-- ================================================
    Scripts
    ================================================ --> 

<!-- jQuery Library --> 

<!--materialize js--> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/materialize.js"></script>

<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/prism.js"></script> 
<!--scrollbar--> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script> 
<!-- data-tables --> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/data-tables/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/data-tables/data-tables-script.js"></script> 

<!-- chartist --> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/chartist-js/chartist.min.js"></script>

<!-- chartjs --> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/chartjs/chart.min.js"></script> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/chartjs/chart-script.js"></script> -->

<!-- sparkline --> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/sparkline/jquery.sparkline.min.js"></script> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins/sparkline/sparkline-script.js"></script> 

<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/mask.js"></script> 

<script src="<?php echo ADMIN_ROOT ?>js/jquery.datetimepicker.js"></script>

<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/dropdown-menu.js"></script> 

<script>/*
window.onerror = function(errorMsg) {
	$('#console').html($('#console').html()+'<br>'+errorMsg)
}*/


$.datetimepicker.setLocale('en');

$('#datetimepicker_format').datetimepicker({value:'2015/04/15 05:03', format: $("#datetimepicker_format_value").val()});
$("#datetimepicker_format_change").on("click", function(e){
	$("#datetimepicker_format").data('xdsoft_datetimepicker').setOptions({format: $("#datetimepicker_format_value").val()});
});
$("#datetimepicker_format_locale").on("change", function(e){
	$.datetimepicker.setLocale($(e.currentTarget).val());
});

$('#datetimepicker').datetimepicker({
dayOfWeekStart : 1,
lang:'en',
disabledDates:['1986/01/08','1986/01/09','1986/01/10'],
startDate:	'1986/01/05'
});
$('#datetimepicker').datetimepicker({value:'2015/04/15 05:03',step:10});

$('.some_class').datetimepicker();

$('#default_datetimepicker').datetimepicker({
	formatTime:'H:i',
	formatDate:'d.m.Y',
	//defaultDate:'8.12.1986', // it's my birthday
	defaultDate:'+03.01.1970', // it's my birthday
	defaultTime:'10:00',
	timepickerScrollbar:false
});

$('#datetimepicker10').datetimepicker({
	step:5,
	inline:true
});
$('#datetimepicker_mask').datetimepicker({
	mask:'9999/19/39 29:59'
});

$('#datetimepicker1').datetimepicker({
	datepicker:false,
	format:'H:i',
	step:5
});
$('#datetimepicker2').datetimepicker({
	yearOffset:222,
	lang:'ch',
	timepicker:false,
	format:'d/m/Y',
	formatDate:'Y/m/d',
	minDate:'-1970/01/02', // yesterday is minimum date
	maxDate:'+1970/01/02' // and tommorow is maximum date calendar
});
$('#datetimepicker3').datetimepicker({
	inline:true
});
$('#datetimepicker4').datetimepicker();
$('#open').click(function(){
	$('#datetimepicker4').datetimepicker('show');
});
$('#close').click(function(){
	$('#datetimepicker4').datetimepicker('hide');
});
$('#reset').click(function(){
	$('#datetimepicker4').datetimepicker('reset');
});
$('#datetimepicker5').datetimepicker({
	datepicker:false,
	allowTimes:['12:00','13:00','15:00','17:00','17:05','17:20','19:00','20:00'],
	step:5
});
$('#datetimepicker6').datetimepicker();
$('#destroy').click(function(){
	if( $('#datetimepicker6').data('xdsoft_datetimepicker') ){
		$('#datetimepicker6').datetimepicker('destroy');
		this.value = 'create';
	}else{
		$('#datetimepicker6').datetimepicker();
		this.value = 'destroy';
	}
});
var logic = function( currentDateTime ){
	if (currentDateTime && currentDateTime.getDay() == 6){
		this.setOptions({
			minTime:'11:00'
		});
	}else
		this.setOptions({
			minTime:'8:00'
		});
};
$('#datetimepicker7').datetimepicker({
	onChangeDateTime:logic,
	onShow:logic
});
$('#datetimepicker8').datetimepicker({
	onGenerate:function( ct ){
		$(this).find('.xdsoft_date')
			.toggleClass('xdsoft_disabled');
	},
	minDate:'-1970/01/2',
	maxDate:'+1970/01/2',
	timepicker:false
});
$('#datetimepicker9').datetimepicker({
	onGenerate:function( ct ){
		$(this).find('.xdsoft_date.xdsoft_weekend')
			.addClass('xdsoft_disabled');
	},
	weekends:['01.01.2014','02.01.2014','03.01.2014','04.01.2014','05.01.2014','06.01.2014'],
	timepicker:false
});
var dateToDisable = new Date();
	dateToDisable.setDate(dateToDisable.getDate() + 2);
$('#datetimepicker11').datetimepicker({
	beforeShowDay: function(date) {
		if (date.getMonth() == dateToDisable.getMonth() && date.getDate() == dateToDisable.getDate()) {
			return [false, ""]
		}

		return [true, ""];
	}
});
$('#datetimepicker12').datetimepicker({
	beforeShowDay: function(date) {
		if (date.getMonth() == dateToDisable.getMonth() && date.getDate() == dateToDisable.getDate()) {
			return [true, "custom-date-style"];
		}

		return [true, ""];
	}
});
$('#datetimepicker_dark').datetimepicker({theme:'dark'})


</script>
	
    <?php require_once('js/customJs.php'); ?>
    
    <?php 
	
	/*	$url = $_SERVER['REQUEST_URI'];
		
		//pr($_SERVER);
		
		//$pos = strrpos($url, '/');
		//$uri = $pos === false ? $url : substr($url, $pos + 1);
		$uri = basename($url);
		if($uri=='dashboard' || $uri=='admin' || $uri=='home' || $uri=='index')
		{
			require_once('js/customJschart.php');
		}
		*/
	?>

<!--plugins.js - Some Specific JS codes for Plugin Settings--> 
<script type="text/javascript" src="<?php echo ADMIN_ROOT ?>js/plugins.js"></script> 
<!-- Toast Notification --> 
<script type="text/javascript">
    // Toast Notification
	
	
	
    
    /*$(function() {
      // Google Maps  
	 
      $('#map-canvas').addClass('loading');    
      var latlng = new google.maps.LatLng(40.6700, -73.9400); // Set your Lat. Log. New York
      var settings = {
          zoom: 10,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          scrollwheel: false,
          draggable: true,
          styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}],
          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
          navigationControl: false,
          navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},            
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), settings);

      google.maps.event.addDomListener(window, "resize", function() {
          var center = map.getCenter();
          google.maps.event.trigger(map, "resize");
          map.setCenter(center);
          $('#map-canvas').removeClass('loading');
      });

      var contentString =
          '<div id="info-window">'+
          '<p>18 McLuice Road, Vellyon Hills,<br /> New York, NY 10010<br /><a href="https://plus.google.com/102896039836143247306/about?gl=za&hl=en" target="_blank">Get directions</a></p>'+
          '</div>';
      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      var companyImage = new google.maps.MarkerImage('http://demo.geekslabs.com/ashoka/images/map-marker.png',
          new google.maps.Size(36,62),// Width and height of the marker
          new google.maps.Point(0,0),
          new google.maps.Point(18,52)// Position of the marker 
      );

      var companyPos = new google.maps.LatLng(40.6700, -73.9400);

      var companyMarker = new google.maps.Marker({
          position: companyPos,
          map: map,
          icon: companyImage,
          title:"Shapeshift Interactive",
          zIndex: 3});

      google.maps.event.addListener(companyMarker, 'click', function() {
          infowindow.open(map,companyMarker);
          pageView('/#address');
      });
    });*/

	
    </script>
    