<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<?php

$action = "https://www.paypal.com/cgi-bin/webscr";
$business = 'chintan@solulab.com';
$cmd = '_xclick-subscriptions';
$item_name = 'Emissary Client Subscription';
$item_number = 'Weekly recrring payment';
$currency_code = 'USD';
$currency_code = 'USD';
$cancel_return = 'http://www.solulab.com';
$return = 'http://www.google.com';
//$notify_url = 'http://appsolab.com/emissary/payments/ipn_callback';
$billing_period = '1';
$billing_time_span = 'D';
$billing_amount = 1;

?> 




<form action="<?php echo $action; ?>" method="post">
		<input type="hidden" name="cmd" value="<?php echo $cmd ?>">
		<input type="hidden" name="upload" value="1">
		<input type="hidden" name="business" value="<?php  echo $business ?>">
		<input type="hidden" name="currency_code" value="<?php  echo $currency_code ?>">

        <input type="hidden" name="item_name" value="<?php echo $item_name; ?>">
        <input type="hidden" name="item_number" value="<?php echo $item_number; ?>">  
			
		<input type="hidden" name="a3" value="<?php  echo $billing_amount ?>">
		<input type="hidden" name="p3" value="<?php  echo $billing_period ?>"> 
        <input type="hidden" name="t3" value="<?php  echo $billing_time_span ?>"> 
       <!-- <input type="hidden" name="notify_url" value="<?php  //echo $notify_url ?>">-->
		<input type="hidden" name="cancel_return" value="<?php  echo $cancel_return ?>">
		<input type="hidden" name="return" value="<?php  echo $return ?>">
		
		<input type="submit" value="Make Payment" name="submit" />

	</form>



</body>
</html>