/*================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 2.1
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================*/
/*-----------------------------------------

------------------------------------------*/
/*=================================================================================
    General
====================================================================================*/
/*----------------------------------------
  General Layout Style
------------------------------------------*/

body {
  background-color: #fcfcfc;
}
#main,
footer {
  padding-left: 240px;
}

#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}
#sidenav-overlay {
  background-color: transparent;
}
.container {
  padding: 0px;
  margin: 0px;
  max-width: 100% !important;
  width: 100%;
}

#left-sidebar-nav span.badge.new{
  line-height: 20px;
  margin-top: 11px;
}

#content .container .row {
  margin-bottom: 0;
}
/*@media only screen and (min-width: 601px) {
  .container {
    width: 98%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}*/

@media only screen and (max-width: 993px) {
  #main,
  footer {
    padding-left: 0px;
  }
}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{
  z-index: 9999;
}
/*---------------------------------
    Typography
-----------------------------------*/

.small {
  font-size: 1.0rem;
  margin: 0;
  padding: 0;
}
.medium-small {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.ultra-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
small {
  font-size: 0.8rem;
}
.strong {
  font-weight: 600;
}
h4.header {
  font-size: 1.5rem;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
}
p.title {
  font-size: 1.3rem;
}
p.header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
h4.header {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
h4.header2 {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}
li.li-hover:hover{
  background: transparent !important;
}
.more-text{
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.valign-demo {
  height: 400px;
  background-color: #ddd;
}
.margin {
  margin: 0 !important;
}
/*----------------------------------------
    Pre Loader
------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  
  z-index: 1001;
}
#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url(../images/user-bg-2.jpg) no-repeat center center;  
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(0);
  /* IE 9 */
  
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(-100%);
  /* IE 9 */
  
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(100%);
  /* IE 9 */
  
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateY(-100%);
  /* IE 9 */
  
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}
.progress{
    background-color: rgba(255, 64, 129, 0.22);
}
/*=================================================================================
    Header
====================================================================================*/
/*----------------------------------------
    Page Header
------------------------------------------*/
h1.logo-wrapper{
  margin: 0px 0px;
}
h1 span.logo-text{
  display: none;
}
header .brand-logo {
  margin: 1px 0px;
  padding: 18px 15px !important;
}
header .brand-logo img{ 
  width: inherit !important;
}
header nav {
  line-height: inherit !important;
}
.menu-sidebar-collapse{
  margin: 0 10px;
}
.menu-sidebar-collapse i{
  line-height: 36px !important;
}



@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}


/*Search box*/ 
.header-search-wrapper {
  max-width: 824px;
  width: 100%;
  margin: 0 auto;
  width: calc(100% - 65%);
  height: 40px;
  display: inline-block;
  margin-left: 240px;
  position: relative;
  margin-top:10px;
}
#content .header-search-wrapper {
  width: 100%;
  margin: 0 auto; 
  height: 40px;
  display: inline-block; 
  position: relative; 
}
.header-search-wrapper i {
  position: absolute;
  top: 0;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height:32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}
input.header-search-input {
  display: block;
  padding: 8px 8px 8px 72px;
  width: 100%;
  background: rgba(255,255,255,0.3);
  height: 24px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 16px;
  appearance: textfield;
  font-weight: 400;
  outline: none;
  border-radius: 3px;
}
.header-search-input::-webkit-input-placeholder
{
  color:#fff;
  font-size:16px;
  font-weight:400
}
.header-search-input::-moz-placeholder
{
  color:#fff;
  font-size:16px;
  font-weight:400
}
.header-search-input:-ms-input-placeholder
{
  color:#fff;
  font-size:16px;
  font-weight:400
}
.header-search-input::placeholder
{
  color:#fff;
  font-size:16px;
  font-weight:400
}

input.header-search-input:hover {
    background: rgba(255,255,255,0.5);
}

input.header-search-input:focus {
    color:#333;
    background: #fff;
}
input.header-search-input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.header-search-wrapper-focus  i {
  color:#444 ;
}
.header-search-input:focus::-webkit-input-placeholder
{
  color:#333;
  font-size:16px;
  font-weight:400
}
.header-search-input:focus::-moz-placeholder
{
  color:#333;
  font-size:16px;
  font-weight:400
}
.header-search-input:focus:-ms-input-placeholder
{
  color:#333;
  font-size:16px;
  font-weight:400
}
.header-search-input:focus::placeholder
{
  color:#333;
  font-size:16px;
  font-weight:400
}


/*Old Search*/
li.search-out:hover{
  background: transparent;
}
.search-out{
  display: none;
}
.search-out-text{
  border-bottom: 1px solid #fff !important;
}
.search-out input[type=text]:focus:not([readonly]){
 border-bottom: 1px solid #fff !important; 
 box-shadow:none;
}

/*=================================================================================
    Sidebar
====================================================================================*/
/*----------------------------------------
    Sidebar Main Menu 
------------------------------------------*/
nav ul li.no-hover:hover{
  background: none;
}
/*ul.side-nav.leftside-navigation {
  top: 64px;
}*/
@media only screen and (max-width: 992px) {
  ul.side-nav.leftside-navigation {
    top: 56px;
  }
}
ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.side-nav a {
  /*line-height: 42px;
  height: 42px;*/
  line-height: normal;
  height: inherit;
}
section {
  background: #252525;
}
section .row {
  margin: 0px;
}
article {width:81%;/* float:left*/;
    padding: 0 20px;
    position: relative;
    background: #fff;
    min-height: 920px;
    display: inline-block;
  }

.collapsible, .side-nav {
  box-shadow: none;
}
#left-sidebar-nav {
  /*position: relative;
  width: 25%;
  z-index:9;
  float:left;
  margin-top: 75px;*/
    position: relative;
    width: 19%;
    z-index: 1;
    float: left;
}
#slide-out li a i {
  line-height: inherit;
  /*width: 2rem;*/
  font-size:15px;
  display: block;
  float: left;
  text-align: center;
  margin-right: 0.5rem;
}
.collapsible-header i {
  width: inherit;
}
#slide-out ul.side-nav li {
  padding: 0px !important;
}
ul.side-nav li {
  padding: 0;
}
ul.side-nav .collapsible-header {
  margin: 0;
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}
#left-sidebar-nav .sidebar-search {
    padding: 25px 15px;
}
.navbar-fixed nav {min-height: 50px;}

ul.side-nav.leftside-navigation {
  overflow: hidden;
}
/*ul.side-nav.leftside-navigation li {
  line-height: 44px;
}*/
ul.side-nav.leftside-navigation li:hover,
ul.side-nav.leftside-navigation li.active {
  background-color: rgba(0, 0, 0, 0.05);
}
ul.side-nav.leftside-navigation li a {
  font-size: 15px;
  font-weight: 400;
}
.side-nav.leftside-navigation .collapsible-body li.active,
.side-nav.fixed.leftside-navigation .collapsible-body li.active{
  background-color: #FAFAFA;
}
ul.side-nav.leftside-navigation > li > a:hover, ul.side-nav.leftside-navigation > li > a:focus, .side-nav.fixed a:focus, .side-nav.fixed a:visited {
    background-color: #4e5d6f;

}
.collapsible-body a:hover {
     background-color: #4e5d6f;
}
li.on a::after {
    border-left: 3px solid #6da8ca;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99;
}
.side-nav.leftside-navigation .collapsible-body li.active a,
.side-nav.fixed.leftside-navigation .collapsible-body li.active a{
    color: #444;
}
.side-nav .collapsible-body li a{
    /*margin: 0 1rem 0 1rem;*/
    margin: 0px;
    padding: 13px 0 13px 42px !important;
}
ul.side-nav.leftside-navigation ul.collapsible-accordion {
  background-color: #FFF;
}
ul.side-nav.leftside-navigation:hover {
  /*overflow-y:hidden;*/
}
ul.side-nav.leftside-navigation li.user-details {
  background: url(../images/user-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*overflow: hidden;*/
  display: none;
  
  margin-bottom: 15px;
  padding: 15px 0px 0px 15px;
}
.user-details .row {
  margin: 0;
}
.user-task,
.user-time {
  margin: 0;
  font-size: 13px;
  color: #fff;
}
ul.side-nav.leftside-navigation .profile-image {
  /*height: 50px;*/
}
ul.side-nav.leftside-navigation .profile-btn {
  margin: 0;
  text-transform: capitalize;
  padding: 0;
  text-shadow: 1px 1px 1px #444;
  font-size: 15px;
}
.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444;
}
.bold > a {
  font-weight: bold;
}
nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px;
}


/*----------------------------------------
    Right Chat Slideout
------------------------------------------*/

.rightside-navigation {
  overflow: hidden;
}
.chat-close-collapse {
  padding: 5px 15px 0 0;
}
#right-search .input-field {
  margin-top: 0px;
}
#chat-out .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: 45px;
  height: 45px;
  font-weight: 400;  
}
#chat-out .chat-out-list {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
#chat-out .favorite-associate-list .circle {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 3px;
  display: block;
}
#chat-out .favorite-associate-list .online-user {
  border: 2px solid #00e676;
}
#chat-out .recent-activity-list-icon {
  margin-top: 8px;
  font-size: 2rem;
}
#chat-out .recent-activity-list-text a {
  font-size: 0.8rem;
  padding: 0;
  font-weight: 600;
}
#chat-out .recent-activity-list-text p {
  font-size: 0.9rem;
  padding: 0;
}
#chat-out .favorite-associate-list p {
  padding: 0;
}
#chat-out .favorite-associate-list p.place {
  font-size: 0.8rem;
}
/* =================================================================================
    Content
================================================================================= */
/*----------------------------------------
    Breadcrumb
------------------------------------------*/

.breadcrumb {
  padding: 0px;
  margin: 15px 0px;
  list-style: none;
}
.breadcrumbs-title {
  font-size: 1.5rem;
  line-height: 1.804rem;
  margin: 18px 0px 0px 0px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb a {
  color: #127ebd;
}
.breadcrumb .active {
  font-weight: normal;
  color: #999;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
h5.breadcrumbs-header {
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 1.5rem 0 0 0;
}
.breadcrumbs-nav {
  margin: 8px 0 9px 0;
}
/*----------------------------------------
    Cards
------------------------------------------*/
/*card-stats*/

#card-stats .card-content {
  text-align: center;
}
#card-stats .card-stats-title, #card-stats .card-stats-title i {
  font-size: 1.2rem;
}

#card-stats .card-stats-compare {
  font-size: 1.0rem;
}
#card-stats .card-stats-compare i{
  position: relative;
  top: 5px
}
#card-stats .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500;
}
/*work-collections*/

#work-collections .collection-header {
  font-size: 1.64rem;
  font-weight: 500;
}
#work-collections .collection-item.avatar {
  height: auto;
}
#work-collections p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
#work-collections p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
/*flight-card*/

#flight-card .card-header .card-title {
  padding: 20px;
}
#flight-card .flight-card-title {
  margin: 0;
  font-weight: 300;
}
#flight-card .flight-card-date {
  font-size: 1.0rem;
  margin: 0;
}
#flight-card .flight-state {
  padding-bottom: 15px;
}
#flight-card .flight-state-two {
  border-left: 1px dashed #9e9e9e;
}
#flight-card .flight-icon {
  font-size: 2.2rem;
  display: block;
  -webkit-transform: rotate(90deg);
  /* Safari */
  
  -moz-transform: rotate(90deg);
  /* Firefox */
  
  -ms-transform: rotate(90deg);
  /* IE */
  
  -o-transform: rotate(90deg);
  /* Opera */
  
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3); 
  /* SASS Internet Explorer */
}
#flight-card .card-content-bg {
  background: url(../images/sample-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#flight-card .card-content {
  background: rgba(0, 0, 0, 0.25);
}
#flight-card .flight-state-wrapper {
  margin: 0 0 100px 0 !important;
}
/*task-card*/

#task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto;
}
#task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
#task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}
#task-card .collection-header {
  padding: 20px;
}
#task-card .task-add{
  position: absolute;
  right: 10px;
  top: 76px;
}
#task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
.collection .collection-item.avatar i.circle {
  font-size: 28px;
}
/* Profile Card */

#profile-card .card-image {
  height: 150px;
}
#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px 0;
}
#profile-card .card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}
#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}
/*----------------------------------------
    Charts
------------------------------------------*/

#chart-dashboard {
  padding-top: 12px;
}
#chart-dashboard .card .card-content,
#card-stats .card .card-content,
#card-stats .card .card-action {
  padding: 10px 14px;  
}
#line-updated {
  /*background: #127ebd;*/
}
.sample-chart-wrapper {
  width: 100%;
}
.chart-title {
  font-size: 1.6rem;
  font-weight: 300;
}
/* Revenue Chart */

.chart-revenue {
  float: right;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
}
.chart-revenue .chart-revenue-total {
  font-size: 0.9rem;
  margin: 0;
}
.chart-revenue .chart-revenue-per {
  font-size: 0.8rem;
  margin: 0;
}
.chart-revenue .chart-revenue-per i{
  position: relative;
  top: 5px;
}
.chart-revenue-switch {
  padding-top: 28px;
  padding-right: 10px;
  color: #fff;
  text-align: right;
}

/* doughnut chart */
.doughnut-chart-status {
  position: relative;
  top: -75px;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  height: 0px;
  text-align: center;
}
.doughnut-chart-status p {
  margin-top: -5px;
}
.doughnut-chart-legend li{
  padding: 2px 0;
  font-size: 0.9rem;
}
.doughnut-chart-legend li:before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  float: left;
  margin-top: 6px;
  margin-right: 4px;
}
li.mobile:before {
  background: #F7464A;
}
li.kitchen:before {
  background: #46BFBD;
}
li.home:before {
  background: #FDB45C;
}
a.button-collapse.top-nav {
  position: absolute;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;
}
/* trending bar chart */

.trending-bar-chart-wrapper {
  width: 100%;
}
.btn-move-up {
  position: relative;
  top: -28px;
  right: -18px;
  margin-right: 10px !important;
}
/* Flot Chart*/

.flotchart-placeholder {
  width: 100%;
  height: 300px;
  font-size: 13px;
  line-height: 1.2em;
}
#flotchart table {
  position: absolute;
  top: 13px;
  right: 17px;
  font-size: smaller;
  color: #545454;
  width: 100px;
}
#flotchart td,
th {
  padding: 5px;
}
/* xCharts */

.xchart-placeholder {
  width: 90%;
  height: 300px;
}
/*Sparkline*/

.tooltip-class {
  overflow: hidden;
  color: #fff;
  height: 20px;
  width: 30px;
}

/**/
#ct2-chart .ct-series.ct-series-a .ct-area{
  fill: #127ebd;
}
#ct2-chart .ct-series.ct-series-a .ct-point{
  stroke:#127ebd;
}
#ct2-chart .ct-series.ct-series-a .ct-line{
  stroke: #54E2F4;
}
/*------------------
  Widget
--------------------*/

.socialbox .logo {
  color: #fff;
  font-size: 28px;
  left: 20px;
  bottom: 20px;
  position: absolute;
}
.socialbox .info {
  color: #fff;
  margin: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  padding: 0;
}
/*----------------------------------------
    Calender
------------------------------------------*/

#full-calendar {
  padding-top: 30px;
}
#calendar h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px;
}
#calendar .fc-day-header {
  text-transform: uppercase;
  font-weight: 400;
}
#external-events {
  padding-top: 50px;
}
#external-events .fc-event {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 10px;
  cursor: all-scroll;
  border: none;
}
.fc button {
  background: #fff;
}
.fc td,
.fc th {
  border-width: 0px !important;
}
.fc-state-active,
.fc-state-down {
  color: #ff4081 !important;
}
/*----------------------------------------
    Color Palette for css-color.html page
------------------------------------------*/

.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple,
.dynamic-color .indigo,
.dynamic-color .blue,
.dynamic-color .light-blue,
.dynamic-color .cyan,
.dynamic-color .teal,
.dynamic-color .green,
.dynamic-color .light-green,
.dynamic-color .lime,
.dynamic-color .yellow,
.dynamic-color .amber,
.dynamic-color .orange,
.dynamic-color .deep-orange,
.dynamic-color .brown,
.dynamic-color .grey,
.dynamic-color .blue-grey {
  height: 55px;
  width: 100%;
  padding: 0 15px;
  line-height: 55px;
  font-weight: 500;
  font-size: 12px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dynamic-color .col {
  margin-bottom: 55px;
}
#left-sidebar-nav .side-nav {position:relative; left:0px; width:240px;}

@media only screen and (max-width: 1024px) {
  tfoot {
    display: none;
  }
}
tr.group,
tr.group:hover {
  background-color: #ddd !important;
}
/*----------------------------------------
    Grid - Flat Site Mockup
------------------------------------------*/

#site-layout-example-left {
  background-color: #90a4ae;
  height: 300px;
}
#site-layout-example-right {
  background-color: #26a69a;
  height: 300px;
}
#site-layout-example-top {
  background-color: #E57373;
  height: 50px;
}
.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  margin: 27px auto;
}
.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  margin: 27px auto;
}
.flat-text.small {
  width: 25%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}
.flat-text.full-width {
  width: 100%;
}
.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0px;
}
.col.grid-example span {
  font-weight: 200;
  line-height: 50px;
}
.waves-color-demo .collection-item {
  height: 57px;
  line-height: 57px;
}
/*----------------------------------------
    Chrome Browser Grid Example
------------------------------------------*/

.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 5px 5px 2px 2px;
  -moz-border-radius: 5px 5px 2px 2px;
  border-radius: 5px 5px 2px 2px;
  background-clip: padding-box;
  background-color: transparent;
  margin: 20px 0px;
  overflow: hidden;
}
.browser-window .top-bar {
  height: 30px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #dfdfde;
  background: linear-gradient(#e7e7e6, #E2E2E1);
}
.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: white;
  margin-right: 1px;
}
#close-circle {
  background-color: #FF5C5A;
}
#minimize-circle {
  background-color: #FFBB50;
}
#maximize-circle {
  background-color: #1BC656;
}
.browser-window .circles {
  margin: 5px 12px;
}
.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}
.browser-window .row {
  margin: 0;
}
.clear {
  clear: both;
}
.promo i {
  color: #ee6e73;
  font-size: 6rem;
  display: block;
}
.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0px;
}
/*----------------------------------------
    icon page
------------------------------------------*/

.icon-demo {
  line-height: 50px;
}
.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px;
}
.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}
.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;
  float: left;
  margin: 0px 0px 15px 0px;
}
.icon-holder p {
  margin: 0px 0;
}
/*----------------------------------------
    Login Page
------------------------------------------*/

.login-form {
  width: 280px;  
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.profile-image-login{
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}
/*----------------------------------------
    Error Page
------------------------------------------*/

.text-long-shadow {
  text-shadow: rgb(29, 125, 116) 1px 1px, rgb(29, 125, 116) 2px 2px, rgb(29, 125, 116) 3px 3px, rgb(29, 125, 116) 4px 4px, rgb(29, 125, 116) 5px 5px, rgb(29, 125, 116) 6px 6px, rgb(29, 125, 116) 7px 7px, rgb(29, 125, 116) 8px 8px, rgb(29, 125, 116) 9px 9px, rgb(29, 125, 116) 10px 10px, rgb(29, 125, 116) 11px 11px, rgb(29, 125, 116) 12px 12px, rgb(29, 125, 116) 13px 13px, rgb(29, 125, 116) 14px 14px, rgb(29, 126, 117) 15px 15px, rgb(29, 128, 119) 16px 16px, rgb(30, 130, 120) 17px 17px, rgb(30, 132, 122) 18px 18px, rgb(30, 133, 124) 19px 19px, rgb(31, 135, 125) 20px 20px, rgb(31, 137, 127) 21px 21px, rgb(32, 139, 129) 22px 22px, rgb(32, 141, 130) 23px 23px, rgb(32, 142, 132) 24px 24px, rgb(33, 144, 134) 25px 25px, rgb(33, 146, 135) 26px 26px, rgb(34, 148, 137) 27px 27px, rgb(34, 149, 139) 28px 28px, rgb(34, 151, 140) 29px 29px, rgb(35, 153, 142) 30px 30px, rgb(35, 155, 144) 31px 31px, rgb(36, 157, 145) 32px 32px, rgb(36, 158, 147) 33px 33px, rgb(36, 160, 149) 34px 34px, rgb(37, 162, 150) 35px 35px, rgb(37, 164, 152) 36px 36px, rgb(38, 166, 154) 37px 37px;
  background-color: rgb(38, 166, 154);
  /*height: 100%;*/  
  width: 100%;
  font-size: 10rem;
  color: #fff !important;
  text-align: center;
  padding: 20px 0 !important;
}
/*----------------------------------------
    Email Page
------------------------------------------*/

#mail-app hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.email-unread .email-title {
  font-weight: 500;
}
#email-sidebar {
  min-height: 650px;
}
#email-sidebar li {
  padding: 10px 0;
  text-align: center;
}
#email-sidebar li i {
  padding: 12px;
  color: #272727;
}
#email-sidebar li i.active {
  background: #DDDDDD;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#email-sidebar li i:hover {
  background: #DDDDDD;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#mail-app #email-sidebar,
#mail-app #email-list,
#mail-app #email-details {
  margin-top: 0px;
}
#email-list {
  padding: 0;
}
#email-list .collection {
  margin: 0;
}
#email-list .collection .collection-item.avatar {
  height: auto;
  padding-left: 72px;
  position: relative;
}
#email-list .collection .collection-item:hover {
  background: #e1f5fe;
  cursor: pointer;
}
#email-list .collection .collection-item.selected {
  background: #e1f5fe;
  border-left: 4px solid #29b6f6;
}
#email-list .collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 10px;
  right: -4px;
}
#email-list .collection .collection-item.avatar .secondary-content.email-time {
  right: 8px;
}
#email-list .collection .collection-item.avatar .icon {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  top: 20px;
}
#email-list .collection .collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  padding: 10px;
}
#email-list .collection .collection-item.avatar img.circle {
  padding: 0px;
}
#email-list .attach-file {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  
  transform: rotate(90deg);
  color: #9e9e9e;
  font-size: 1.1rem;
}
#email-details {
  padding: 15px;
}
#email-details .email-subject {
  font-size: 1.2rem;
}
#email-details .email-subject i {
  font-size: 2.2rem;
}
#email-details .email-tag {
  padding: 3px;
  font-size: 0.9rem;
}
#email-details .collection {
  border: none;
}
#email-details .collection .collection-item.avatar {
  height: auto;
  padding-left: 72px;
  position: relative;
}
#email-details .collection .collection-item.selected {
  background: #e1f5fe;
  border-left: 4px solid #29b6f6;
}
#email-details .collection .collection-item.avatar .icon {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  top: 20px;
}
#email-details .collection .collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  padding: 10px;
}
#email-details .collection .collection-item.avatar img.circle {
  padding: 0px;
}
#email-details .email-actions {
  padding-top: 25px;
}
#email-details .email-actions a {
  color: #757575;
  padding: 5px;
}
.email-reply {
  padding-top: 20px;
}
.email-reply a {
  color: #757575;
}
.email-reply p {
  color: #757575;
  margin: 0;
}
.email-reply a i {
  font-size: 2rem;
}
#mail-app .modal .modal-content {
  padding: 0;
}
.model-email-content {
  padding: 24px;
}
/*----------------------------------------
    Invoice Page
------------------------------------------*/

.invoice-icon i {
  font-size: 2rem;
}
.invoice-table {
  padding-top: 40px;
}
.invoice-text{
  padding: 18px 0px;
}

/*----------------------------------------
    Blog
------------------------------------------*/

/* ----- Blog Card -----*/

.blog-card .card {
  margin:0px;
}
.blog-card ul.card-action-buttons{
  margin: -26px 10px 0px 0px;
  text-align: right;
}
.blog-card ul.card-action-buttons li{
  display: inline-block;
  padding-left: 5px;
}
.blog-card .card .card-content{
  padding: 5px 10px 5px 10px;
}
.blog-card .card .card-content .card-title,
.blog-card .card .card-reveal .card-title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}

 /* -----Blogs Masonery Page----- */
.blog { 
  width: 20%; padding: 10px;
}
.blog-sizer {
  width: 20%; 
}
.blog .card {
  margin:0px;
}
.blog ul.card-action-buttons{
  margin: -26px 10px 0px 0px;
  text-align: right;
}
.blog ul.card-action-buttons li{
  display: inline-block;
  padding-left: 5px;
}
.blog .card .card-content{
  padding: 5px 10px 5px 10px;
}
.blog .card .card-content .card-title,
.blog .card .card-reveal .card-title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.blog-post-content{
  padding-bottom: 10px;
}

/*  blog page media queries */
@media screen and (max-width: 2200px) {
  .blog-sizer { width: 20%; }
  .blog { width: 20%; }
}
@media screen and (max-width: 1800px) {
  .blog-sizer { width: 30%; }
  .blog { width: 30%; }
}
@media screen and (max-width: 1600px) {
  .blog-sizer { width: 33.33%; }
  .blog { width: 33.33%; }
}
@media screen and (max-width: 1224px) {
  .blog-sizer { width: 33.33%; }
  .blog { width: 33.33%; }
}
@media screen and (max-width: 980px) {
  .blog-sizer { width: 50%; }
  .blog { width: 50%; }
}
@media screen and (max-width: 720px) {
  .blog-sizer { width: 50%; }
  .blog { width: 50%; }
}

@media screen and (max-width: 480px) {
  .blog-sizer { width: 100%; }
  .blog { width: 100%; }
}

/* -----Blogs Page Full width 2----- */
#blog-post-full .card-title{
  text-shadow: 1px 1px 4px #000;
  font-weight: 300;
  font-size: 2rem;
}  
#blog-post-full .blog-post-full-cat{
  padding: 5px;
  margin: 25px;
  right: 0px;
  left: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;  
}
#blog-post-full .blog-post-full-cat a{  
  color: #fff;
  text-shadow:none;
}


/*----------------------------------------
    Products
------------------------------------------*/

/* ---- Product Card ----- */

.product-card .card {
  margin:0px;
}
.product-card ul.card-action-buttons{
  margin: -26px 10px 0px 0px;
  text-align: right;
}
.product-card ul.card-action-buttons li{
  display: inline-block;
  padding-left: 5px;
}
.product-card .card .card-content{
  padding: 5px 10px 5px 10px;
}
.product-card .card .card-content .card-title,
.product-card .card .card-reveal .card-title {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.product-card .card .btn-price{
  width: 65px;
  height: 65px;
  font-weight: 600;
  font-size: 1.0rem;
  line-height: 65px;
  margin: 10px;
  position: absolute;
  top: 0px;
  letter-spacing: 0px;
}
/* -----Products Masonery ----- */

.product { 
  width: 20%; padding: 10px;
}
.product-sizer {
  width: 20%; 
}
.product .card {
  margin:0px;
}
.product ul.card-action-buttons{
  margin: -26px 10px 0px 0px;
  text-align: right;
}
.product ul.card-action-buttons li{
  display: inline-block;
  padding-left: 5px;
}
.product .card .card-content{
  padding: 5px 10px 5px 10px;
}
.product .card .card-content .card-title,
.product .card .card-reveal .card-title {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.product .card .btn-price{
  width: 65px;
  height: 65px;
  font-weight: 600;
  font-size: 1.0rem;
  line-height: 65px;
  margin: 10px;
  position: absolute;
  top: 0px;
  letter-spacing: 0px;
}

/* -- New Css --*/

.dropup, .dropdown {
    position: relative;
    margin-right: 20px; 
}
.dropdown-toggle:focus {
    outline: 0 none;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 16px;
    left: -40px;
    list-style: outside none none;
    margin: 2px 0 0;
    /*min-width: 160px;*/
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 11.5px 0;
    overflow: hidden;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block !important;
    font-weight: normal;
    line-height: 1.61538;
    padding: 3px 20px;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #337ab7;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777777;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
    text-decoration: none;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0 none;
}
.dropdown-menu-right {
    left: auto;
    right: 0;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.dropdown-header {
    color: #777777;
    display: block;
    font-size: 12px;
    line-height: 1.61538;
    padding: 3px 20px;
    white-space: nowrap;
}
.dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px dashed;
    border-top: 0 none;
    content: "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 2px;
    top: auto;
}
.dropdown-menu i {
  height: inherit !important;
  line-height: inherit !important;
  font-size: 17px !important;
}
.dropdown-user a {
  padding: 0px 10px !important;
  display: block !important;
}
.dropdown-user li {
  display: block !important;
  width: 100%;
}



.hide-on-med-and-down i {
  display: inline !important;
}
.hide-on-med-and-down a {
  display: inline-block !important;
}
.panel {
  background: #252525;
}
.panel-heading {
    font-size: 30px;
	  color:#127ebd;
    font-weight: 400;
    background: #fafafa;
    /*text-transform: uppercase;*/
    padding: 15px 15px 15px 0px;
	border-bottom:1px solid #ddd;
}
.panel-body {
    padding: 15px 0px;
}
.gridhead {
    background:#127ebd;
    color: #fff;
}
.table-bordered {
    border: 1px solid #ddd;
}
.adv-table {clear:both; padding-top:15px;}
.adv-table table.display thead th {
    border: 1px solid #DDDDDD;
    padding: 10px;
	background:url(../images/sort_both.png) no-repeat right center;
}
tr.odd {
    background-color: #eff0ff;
	border-bottom:1px solid #ddd;
}
tr.even {
    background-color: white;
	border-bottom:1px solid #ddd;
}
tr td:last-child {border-right:1px solid #ddd; border-bottom:none;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
div.dataTables_length label {
    float: left;
    text-align: left;
}
.adv-table .dataTables_length select {
    /*display: inline-block;*/
    margin: 5px 10px 5px 0;
    /*padding: 5px 8px;
    width: 65px;*/
}
.adv-table .dataTables_filter label input {
    float: right;
    margin-left: 10px;
    width: 78%;
}
#dynamic_table_wrapper .span6 {width:50%; float:left;}
.form-control {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #606060 /*#c2c2c2*/;
}

.lock-screen {
    background: #127ebd url("../images/lock-screen.jpg") no-repeat fixed 0 0 / cover;
}
.lock-wrapper {
    margin:0 auto;
    max-width:500px;
}
.lock-box {
    position:relative;
}
.lock-name {
    background:#fff;
    width:50%;
    float:left;
    /*height:50px;*/
    line-height:50px;
    margin-top:55px;
    padding:7 20px;
    /*padding-top:8px;*/
    text-align:left;
    border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    color:#C42F28;
}
.lock-name input{
	margin:5px 0px;
}
.lock-pwd input {
	margin:5px 0px;
}

.lock-pwd .btn {padding:0px; box-shadow:none;}
.lock-pwd {
    background:#fff;
    width:50%;
    float:right;
    /*height:50px;
    line-height:50px;*/
    margin-top:55px;
    padding:0 0 0 80px;
    border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    color:#C42F28;
}
.lock-pwd input {
    width:72% !important;
    color:#626f81;
}
.lock-pwd input:focus,.lock-pwd input:hover {
    border-color:#fff;
}
.lock-wrapper img {
    position:absolute;
    left:33%;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid #fff;
    width:160px;
    height:160px;
    background: #fff;
}
.lock-wrapper .locked {
    margin-bottom:20px;
    display:inline-block;
    color:#026f7a;
}
.btn-lock,.btn-lock:hover {
    background:#fff;
    color:#626f81;
	line-height:46px;
    /*margin-top:-2px;*/
}
.lock-input {
    width:83%;
    border:none;
    float:left;
    margin-right:3px;
}
#time {
    width:100%;
    color:#fff;
    font-size:125px;
    margin-bottom:50px;
    display:inline-block;
    text-align:center;
    font-family:'Lato',sans-serif;
    font-weight: 100;
}
a.fancybox {color:#fff;}
a.fancybox:hover {color:#444;}
.btn-success {float:right;}
#data-table-simple_filter label, #data-table-simple1_filter label{text-align:right;}
#data-table-simple_filter input, #data-table-simple1_filter input {
	float:right; margin-right:0px; padding-right:0px; width:100%;
}
.dataTables_wrapper .dataTables_length {
    width:45%;
	clear:both;
}
.dataTables_wrapper .dataTables_filter {
    width:50%;
	float:right;
    text-align: right;
}
#data-table-simple_info, #data-table-simple1_info {width:50%; float:left; padding-top:15px;}
#data-table-simple_paginate, #data-table-simple1_paginate {width:50%; float:right; text-align:right; padding-top:15px;}
.paginate_button { color: #333 !important;
	padding:5px 3px;
	margin:0px 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) repeat scroll 0 0;
    border: 1px solid #cacaca;
    color: #333 !important;
	padding:5px 8px;
	margin:0px 8px;
}
article .collapsible {box-shadow:none; margin:1rem 0px 0px 0px;}
article .collapsible-body {padding:15px;}
article .collapsible-body .filter {width:19%; display:inline-block;}
article .collapsible-body .filter input {width:80%;}
.adv-table .actions {padding:0px 9px 0px 0px;}
.adv-table select {width:inherit;}
.box-body input {width:inherit;}

#add-new-table table {border:1px solid #ddd;}
#add-new-table table tr td {border:none; padding:12px 0px 0px 12px;}
#add-new-table table tr td:first-child {width:20%;}
#add-new-table table tr input {margin:0px; width:inherit;}
#add-new-table table tr button {padding-left:1rem; padding-right:1rem;}
#add-new-table textarea {width: 71%; height: 8rem; background-color: transparent; border:1px solid #e2e2e4; border-radius:4px; padding:6px 12px; }
  
.tab-content form input {padding:6px 12px !important;}
.stred {color:#F00;}
.no-hover {display:none;}
	.footer-copyright .container br {display:none;}
.select-wrapper input.select-dropdown, .select-wrapper i {display:none;}
/*.select-wrapper select {display:none;}
.select-wrapper input {width:95% !important;}
.select-wrapper i {right:7% !important;}*/
.mce-tinymce {margin-right:10px !important;}
.mce-tinymce button {margin-right:0px !important;}
.checkbox input {width:inherit !important;}


/* eCommers product page media queries */
@media screen and (max-width: 2200px) {
  .product-sizer { width: 20%; }
  .product { width: 20%; }
}
@media screen and (max-width: 1800px) {
  .product-sizer { width: 30%; }
  .product { width: 30%; }
}
@media screen and (max-width: 1600px) {
  .product-sizer { width: 25%; }
  .product { width: 25%; }
}
@media screen and (max-width: 1224px) {
  .product-sizer { width: 33.33%; }
  .product { width: 33.33%; }
}
@media screen and (max-width: 980px) {
  .product-sizer { width: 50%; }
  .product { width: 50%; }
}
@media screen and (max-width: 720px) {
  .product-sizer { width: 50%; }
  .product { width: 50%; }
}

@media screen and (max-width: 480px) {
  .product-sizer { width: 100%; }
  .product { width: 100%; }
}


/*----------------------------------------
    Gallary  Page
------------------------------------------*/
.gallary-item img { 
  width: 20%;
}
.gallary-sizer {
  width: 20%; 
}

/* Gallary page media queries */
@media screen and (max-width: 2200px) {
  .gallary-sizer { width: 20%; }
  .gallary-item img { width: 20%; }
}
@media screen and (max-width: 1800px) {
  .gallary-sizer { width: 30%; }
  .gallary-item img { width: 30%; }
}
@media screen and (max-width: 1600px) {
  .gallary-sizer { width: 25%; }
  .gallary-item img { width: 25%; }
}
@media screen and (max-width: 1224px) {
  .gallary-sizer { width: 33.33%; }
  .gallary-item img { width: 33.33%; }
}
@media screen and (max-width: 980px) {
  .gallary-sizer { width: 50%; }
  .gallary-item img { width: 50%; }
}
@media screen and (max-width: 720px) {
  .gallary-sizer { width: 50%; }
  .gallary-item img { width: 50%; }
}

@media screen and (max-width: 480px) {
  .gallary-sizer { width: 100%; }
  .gallary-item img { width: 100%; }
}


/*----------------------------------------
    Contact Page (Map-card)
------------------------------------------*/

/* ---- Map card ----*/
.map-card #map-canvas {
    width: 100%;
    height: 342px;
}
.map-card .card .card-content .card-title, .map-card .card .card-reveal .card-title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.map-card .btn-move-up{
    top: -38px;
}
/* ---- Map Contact Page ----*/
#map-canvas {
    width: 100%;
    height: 250px;
}

/*----------------------------------------
    Pricing Plan  Page
------------------------------------------*/
.plans-container .collection {
  border: none;
}
.plans-container .collection .collection-item {
  border-bottom: none;
  text-align: center;
  font-size: 1.07rem;
  line-height: 1.6em;
}
.plans-container .collection .collection-item:before {  
  font-size: 1.28rem;  
  line-height: 1.6em;
  color: #009315;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  content: "\e623";
  margin-right: 10px;
}
.plans-container .card .card-image {
  position: relative;
  width: 100%;
}
.plans-container .card .card-image .card-title {
  position: relative;
  font-size: 1.28rem;
  line-height: 1.6em;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}
.plans-container .card .card-image .price {
  position: relative;
  font-size: 5rem;
  line-height: 1.6em;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.plans-container .card .card-image .price sup {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: -35px;
}
.plans-container .card .card-image .price sub {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: 0px;
}
.plans-container .card .card-image .price-desc {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}
.plans-container .card .card-content {
  padding: 0;
}/*
@media screen and (min-width: 601px) {
  .plans-container .card {
    min-height: 550px;
  }
}*/


/*----------------------------------------
    Profile Page
------------------------------------------*/

#profile-page-header .card-image {
  height: 250px;
}
#profile-page-header .card-profile-image {
  width: 110px;
  position: absolute;
  top: 190px;
  z-index: 1;
  left: 40px;
  cursor: pointer;
  margin: 0;
}
#profile-page-header .card-content{
  margin-top: -40px;
}
#profile-page-header .card-content .card-title{
  margin-bottom: 0px;
}

/*profile-page-wall*/

#profile-page-wall .profile-image-post{
  width: 60px;
  margin: 30px 10px;
}
#profile-page-wall .tab-profile .tab i{
  font-size: 16px;
}
#profile-page-wall .tab-content{
  padding: 10px;
}
#profile-page-wall .share-icons{
  margin-top: 10px;
}
#profile-page-wall .share-icons i{
  padding: 0px 5px;
}


#profile-page-wall-posts .profile-small{
  height: 250px;
  overflow: hidden;
}
#profile-page-wall-posts .profile-medium{
  height: 350px;
  overflow: hidden;
}
#profile-page-wall-posts .profile-large{
  height: 450px;
  overflow: hidden;  
}
#profile-page-wall-posts .card-profile-title{
  font-size: 16px;
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
#profile-page-wall-posts .card-action-share{
  padding: 16px;
}

/*----------------------------------------
    Shadow effect
------------------------------------------*/

.shadow-demo {
  background-color: #26a69a;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.collapsible-header {
  font-weight: 500;
}
/*=================================================================================
    Footer
====================================================================================*/

footer.page-footer {
  padding: 0px 20px;
  margin: 0px;
}
/*----------------------------------------
    footer charts
------------------------------------------*/

#world-map-markers {
  height: 300px;
}
#polar-chart-holder {
  padding-top: 20px;
}


.sidebar-search input {
  width: 66%;
  background: #fff;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0px;
}
.custom-search-form {
  position: relative;
}
.custom-search-form .btn {
  background: #fff;
  padding: 0px 12px;
  box-shadow: none;
  border-left: 1px solid #f2f2f2;
}
.custom-search-form .btn:hover {
  background: #ebebeb;
}
.custom-search-form i {
  color: #222;
}
.input-group-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}


/*=================================================================================
    Media Queries
====================================================================================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* STYLES GO HERE */
  .doughnut-chart-status{
    display: none;
  } 
}

 
/* For Tables ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* STYLES GO HERE */
  .doughnut-chart-status{
    display: none;
  }
  #card-stats .card-stats-compare{
      font-size: 0.8rem;
  }
  
  
}

@media screen and (max-width: 979px) {
	.no-hover {display:block !important;}
	#left-sidebar-nav {
  position: fixed !important;
  width: 25% !important;
  left: -25% !important;
  z-index: 999;
  height: auto;
}
.container {width:100%; padding:0px 10px;}
.container .row {margin:0px;}
#left-sidebar-nav:after {
	left:0px !important;
}
article {width:100% !important;}
table.responsive-table thead {border:none;}
table.responsive-table tbody {width:auto !important; border:1px solid #ddd;}
table.responsive-table tbody tr {padding:0px;}
table.responsive-table {clear:both;}
table.responsive-table td {border-bottom:1px solid #ddd;}
#add-new-table table tr button {margin-right:1rem;}
/*table.responsive-table {clear:both; width:100% !important;}
table.responsive-table th {display:inline-block !important;}
table.responsive-table tbody {width:100% !important; clear:both !important;}
table.responsive-table tbody tr {display:block !important; padding:0px;}
table.responsive-table td {display:inline-block !important;}*/
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {padding:6px 4px;}

#add-new-table tr {display:block;}
#add-new-table table tr input {width:93%;}
.adv-table img {max-width:100%;}
.adv-table th {width:100px !important; text-align:left !important;}
.promocode-button .btn-success {float:none;}
promocode-checkbox {}

#left-sidebar-nav .side-nav {position:fixed; left:-240px; width:240px;}
.side-nav {top:63px;}
	.select-wrapper i {display:block; right:5% !important;}
	.select-wrapper select {width:96%;}
	.ckeckbox input {width:5% !important;}

	
}
@media screen and (max-width: 767px) {
	.footer-copyright .container {text-align:center !important;}
	.footer-copyright .container .right {float:none !important;}
	.footer-copyright .container br {display:block;}
	footer.page-footer .footer-copyright {height:inherit; padding-top:5px; line-height:25px;}
	.no-hover .btn-flat {padding:0px;}
	.select-wrapper i {display:block; right:5% !important;}
	.select-wrapper select {width:96%;}
	.ckeckbox input {width:5% !important;}
}

@media screen and (max-width:480px) {
	.btn, .btn-large, .btn-flat {padding:0px 1rem;}
	.tabs .tab {height:inherit; line-height:16px; white-space:normal; letter-spacing:0px; font-size:13px;}
	.tabs .tab a {padding:8px 0px;}
}
