
#account-setting ul li {
  list-style: none;
  float: left;
  margin-right: 4px;
}
#account-setting ul li.controls {
  float: right;
}
#account-setting ul li a {
  font-weight: bold;
  display: inline-block;
  padding: 6px 12px;
  color: #888;
  outline: 0;
  text-decoration: none;
  background: #f3f3f3;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#eee),to(#e4e4e4));
  background: -moz-linear-gradient(#eee,#e4e4e4);
  background: linear-gradient(#eee,#e4e4e4);
  -pie-background: linear-gradient(#eee,#e4e4e4);
}

#account-setting ul li.active a {
  pointer-events: none;
  color: white;
  background: #666;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#888),to(#666));
  background: -moz-linear-gradient(#888,#666);
  background: linear-gradient(#888,#666);
  -pie-background: linear-gradient(#888,#666);
}
#account-setting div.tabscontent > div {
  padding: 0 15px;
}
#account-setting div.controls {
  float: right;
}
#account-setting div.controls a {
  margin-left: 5px;
}
#account-setting .lorem {
  font-style: italic;
}
#account-setting #tab-1, #account-setting #tab-2 {
  border: 1px solid #ddd;
  padding: 15px;
}
