@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,600);


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
}
a, a:hover {
  text-decoration: none;
}
html, body {
    height: 100%;
}
body, .nav-sidemenu {
  background-color: #252525;
}
body.fgt {
    background: #fff;
}
body.fgt nav.navbar-slide {
    background: #000;
}
body.home {
  background-color: #f8f8f8;
}
nav.navbar-slide { 
    background: #252525;
    padding-top: 0;
}
body.home nav.navbar-slide {
    /*background: transparent;
    padding-top: 10px;*/
    padding: 10px 0;
}
.navbar-brand {
    padding: 0 15px;
    height: 70px;
}
.navbar-brand img {
    height: 100%;
    width: auto;
}

.innerpagetop-nav {
    padding: 5px 0;
}
.innerpagetop-nav a {
  color: #fff;
}
.innerpagetop-nav>li>a:hover, .innerpagetop-nav>li>a:focus {
  background-color: transparent !important;
}
nav.navbar-slide {
    border: none;    
}
body.home nav.navbar-slide.show-menu { background: #252525;}
p {
    font-size: 14px;
}
body {
    padding-top: 60px;
}
body.home {
    padding-top: 0;
}
p.sub-text {
    margin-bottom: 60px;
    margin-right: 40px;
}
.nav-sidemenu a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 16px 15px !important;
}
li.on a:after {
    border-left: 3px solid #6DA8CA;
    position: absolute;
    content: "";
    height: 100%;
    z-index: 99;
    left: 0;
    top: 0;
}
li.on ul li a:after {
    display: none;
}
.nav-sidemenu .nav>li>a:hover, .nav-sidemenu .nav>li>a:focus, .nav>li.on>a{
  background-color: #737373;
}
.nav-sidemenu .fa-fw {
    margin-right: 10px;
}
.sidebar .nav-second-level li a:before {
    content: "\f054";
    font-family: fontawesome;
    font-size: 9px;
    margin-right: 7px;
    top: -1px;
    position: relative;
}
.page-header {
    padding-bottom: 9px;
    margin: 25px 0 20px;
    border-bottom: 1px solid #D4D4D4;
    font-size: 30px;
    position: relative;
    /* padding-bottom: 20px; */
}
.page-header span {
  color: blue;
}
.pic-banner {
    border-bottom: 3px solid #57AADA;
    background: url(../images/bgprofile.jpg) center/cover;
    position: relative;
    padding: 70px 0;
    margin-bottom: 15px;
}
.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.prof-pic {
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    width: 170px;
    margin: 0 auto;
}
.edit_profsection .fileUpload {
    position: absolute;
    overflow: hidden;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.edit_profsection .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    width: 100%;
    height: 100%;
}
.prof-pic img {
    width: 100%;
    border-radius: 100%;
    border: 4px solid rgba(255,255,255, .9);
}
.prof-pic .fileUpload {
    visibility: hidden;
}
.prof-pic:hover .fileUpload {
    visibility: visible;
}
.prof-pic .fileUpload span {
  width: 100%;
  margin-top: -8px;
  position: absolute;
  text-align: center;
  line-height: 100%;
  color: #fff;
  top: 50%;
  bottom: auto;
}
.input-box {
  margin-bottom: 10px;
}
label.input-name {
    width: 100%;
    margin: 0;
}
label.input-name span {
    display: block;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0 5px;
    vertical-align: top;
}
.input-field {
    border: none;
    width: 100%;
    outline: none;
    padding: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    font-size: 13px;
    font-weight: 400;
    resize: none;
}
.prof-pic:hover .fileUpload:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 100%;
}
.reg-header {
    color: #DB5031;
    /* background-color: #E0E0E0; */
    border: none;
    font-size: 19px;
    padding: 10px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 10px 0;
}
.reg-header i {
    margin-right: 10px;
}
.sml-heading {
    color: #3590C5;
    border: none;
    font-size: 16px;
    padding: 10px 0 0;
    font-weight: 800;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
}
.sml-heading i {
    margin-right: 10px;
}
.panel-body {
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
}
.editprof-images ul {
  margin: 0;
  padding: 0;
}
.editprof-images ul li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    padding: 10px;
}
.gal-img {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border-radius: 4px;
    padding: 10px;
    min-height: 170px;
}
.editprof-images ul li img {
    width: 100%;
}
.editprof-images ul li span {
    position: absolute;
    top: 18px;
    right: 19px;
    /* background: rgba(0, 0, 0, 0.55); */
    width: 25px;
    text-align: center;
}
.editprof-images ul li span a {
    color: #000;
}
.addmore a {
    display: block;
    text-align: center;
    padding: 55px 0;
}
.addmore i {
  display: block;
}
.addmore span {
    display: block;
    position: static !important;
    width: inherit !important;
}
.wrk-dys input {
    display: block;
    margin: 0 auto;    
}
.wrk-dys ul li {
    text-align: center;
    background: #fff;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #ddd;
    border-right: 0;
}
.wrk-dys ul li:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}
.wrk-dys ul li:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
    border-right: 1px solid #ddd;
}
.wrk-dys ul li label {
    display: block;
    height: 100%;
    margin: 0;
    text-transform: uppercase;
    padding-top: 24px;
}
.input-box.wrk-tym {
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0;
    display: block;
}
.input-box.wrk-tym input {
  margin: 0 20px;
}
.btn-custom {
  margin-top: 20px;
}





#benefits1 {
    padding: 0;
}
.bg-2 {
    height: 450px;
    overflow: hidden;
    padding: 60px;
    background: url(../images/bg-2.jpg);
    background-size: cover;
    text-align: center;
}
.bg-2 img {
    width: 100%;
}
.img-block-2col .item-list-left {
    padding: 20px;
    height: 450px;
}
.process .color {
    color: #FFFFFF;
}
.bgblack-overlay {
    background: rgba(70, 71, 72, 0.82);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h2.front-title {
    position: relative;
    text-transform: none;
    color: #fff;
    line-height: 150%;
    font-size: 32px;
}
.lg-icon {
    position: relative;
    margin: 20px auto 0;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 40px;
}
a.lg-button {
    position: relative;
    z-index: 1;
    background: transparent;
    padding: 10px 30px;
    margin: 20px 5px;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
}
a.lg-button:hover {
    background: #fff;
    color: #000;
}
.title h2 {
	margin-bottom: 0;
    font-size: 50px;
}
.title p {
    display: block;
    margin: -0 0 20px 0;
    font-size: 14px;
    color: #333;
}
.title.small h2 {
    margin: 40px 0;
    font-size: 32px;
    color: #323232;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
}
.title.small p {
    display: block;
    margin: -0 0 20px 0;
    font-size: 13px;
    color: #333;
}
p.sub-heading {
    margin: -37px 0 70px;    
}
.facts-list {
    float: left;
    margin: 30px 0;
}
.facts-list h4 {
    text-transform: capitalize;
    color: #000;
}
.facts-list p {
    color: #666;
    font-weight: 400;
    font-size: 12px;
    padding: 10px 20px;
}
.facts-list .icn-1 i {
	color: #A97AC5;
}
.facts-list .icn-2 i {
	color: #ECA457;
}
.facts-list .icn-3 i {
	color: #32BEA6;
}
.facts-list .icn-4 i {
	color: #C75C5C;
}
.process h4 {
    font-weight: 500;
}
.process p {
    font-size: 13px;
    color: #CFD1E0;
}
.industries {
    text-align: center;
    margin-top: 50px;
}
.industries .bg-4 {
    background: #EAEEF1;
    padding: 20px 0;
    margin-bottom: 20px;
}
.industries i {
    font-size: 30px;
    margin-top: 10px;
    display: block;
    color: #7D848A;
}
.industries p {
    margin: 10px 0 0;
    color: #505558;
    font-size: 12px;
}
.title.small h2 {
    margin: 20px 0 40px;
    font-size: 22px;
    color: #323232;
    padding-bottom: 10px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.title.small h2:after {
    left: 50%;
    margin-left: -40px;
}
.test-tit {
    width: 35%;
    float: left;
}
.testi {
    float: left;
    width: 65%;
}
#testimonials .item.container {
    width: 100%;
}
.qt-icon i {
    font-size: 30px;
}
section#testimonials {
    padding-bottom: 80px;
}
.test-tit .bg-white {
    margin-left: 50px;
    background: #fff;
    text-align: left;
    padding: 30px 20px;

}
.test-tit .bg-white h2 {
    color: #589C8C;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
}
.test-tit .bg-white h4 {
    color: #666;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
}
#social .title p {
    margin-top: -33px;
}
.modal-dialog {
    width: 400px;
    margin-top: 120px;
}
#modalContact .modal-content {
    padding: 0;
    background: transparent;
}
.modal-backdrop.in {
    opacity: .8;
    filter: alpha(opacity=50);
}







/* Container */
.popup-custom {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.popup-custom.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.popup-custom.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.popup-custom.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: 610px;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
  margin: 0;
}
.popup-custom.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.popup-custom.active .card.alt .toggle:before {
  content: '';
}


.popup-custom.active .card.alt .title,
.popup-custom.active .card.alt .input-container,
.popup-custom.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.popup-custom.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.popup-custom.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.popup-custom.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.popup-custom.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.popup-custom.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #E48918;
  margin: 0 0 35px;
  padding: 10px 0 10px 30px;
  color: #E48918;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}
.card .input-container {
  position: relative;
  margin: 0 35px 15px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #5095BD;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ABABAB;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #CECECE;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #5095BD;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 40px 60px 0;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: #5095BD;
  width: 240px;
  border: 2px solid #5095BD;
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #5095BD;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #5095BD;
    background: transparent;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #5095BD;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 25px 0 20px;
  font-size: 14px;
  text-align: center;
}
.card .footer a {
  color: #8E8E8E;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
    position: absolute;
    top: auto;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 65px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    bottom: -40px;
}
.card.alt .toggle {
    position: relative;
    background: #E48918;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 24px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
    /* top: -60px; */
}
.card.alt .toggle:before {
    content: 'Register Now';
    display: inline-block;
    line-height: 30px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #5095BD;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}
.cat-type {
    height: 20px;
}
.cat-type input[type=radio] {
    width: 20px;
    height: 20px;
    float: left;
    vertical-align: top;
    margin: 0 10px 0 0;
}
.cat-type span {
  width: 50%;
  float: left;
}
.cat-type span label {
  position: relative !important;
  float: left;
  vertical-align: top;
  line-height: normal !important;
  margin-top: 8px;
}


/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}






.table-custom {
    background: #fff;
}
.table-custom .table {
    border-bottom: 1px solid #ddd;   
}    
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    color: #767676;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbd5dd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.form-control {
    border-width: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    outline: 0;
}
.form-control:focus {
    border-color: #90CEF3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.filter-result-info {
    padding: 9px 7px 0;
    font-size: 13px;
}
.ng-pristine {
    margin-top: 3px;
}
.jobpost-top {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #fff;
}
.btn-custom1 {
    background: #DC7227;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}
.btn-custom1:hover {
    background: #D25E0C;
    color: #fff;
}
.table-custom .table>tbody>tr>td,
.table-custom .table>tbody>tr>th,
.table-custom .table>tfoot>tr>td,
.table-custom .table>tfoot>tr>th,
.table-custom .table>thead>tr>td,
.table-custom .table>thead>tr>th {
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table-custom .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    background: #58646B;
}
.table-custom .table>thead>tr>th>i {
    margin-right: 5px;
}
.table-custom .table>tbody>tr>td {
    color: #313131;
    font-size: 13px;
}
.table-custom .table>tbody>tr>td, 
.table-custom .table>tbody>tr>th,
.table-custom .table>tfoot>tr>td,
.table-custom .table>tfoot>tr>th,
.table-custom .table>thead>tr>td,
.table-custom .table>thead>tr>th {
    padding: 15px 10px;
}
.table-custom .table>tbody>tr:nth-child(odd)>td,
.table-custom .table>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9 !Important;
}
a.edit-job i {
    margin-right: 5px;
}
a.edit-job {
    color: #58646B;
}
.table-custom .table>tbody>tr>td.active, .table-custom .table>tbody>tr>td.inactive {
    background-color: transparent;
    position: relative;
    text-align: left;
    padding-left: 30px;
    padding-right: 0;
}
.table-custom .table>tbody>tr>td.active {
    color: #0CA25E;
}
.table-custom .table>tbody>tr>td.inactive {
    color: #C33434;
}
.table-custom .table>tbody>tr>td.active:before, .table-custom .table>tbody>tr>td.inactive:before {
    font-family: fontawesome;
    padding-right: 5px;
    width: 20px;
    display: inline-block;
    text-align: center;
}
.table-custom .table>tbody>tr>td.active:before {
    content: "\f00c";
}
.table-custom .table>tbody>tr>td.inactive:before {
    content: "\f00d";
}
.table-custom .page-num-info span {
    padding: 6px 20px;
}
.table-custom .pagination-container ul {
    margin: 0 20px 15px 0;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
}
.pagination>li>a, .pagination>li>span {
    color: #333;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #999;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    cursor: not-allowed;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #DC7227;
    border-color: #DC7227;
    cursor: default;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #fff;
    background-color: #DC7227;
    border-color: #DC7227;
}

label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
a.add {
    float: right;
    font-size: 13px;
    background: #127EBD;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    margin-top: -2px;
}
.dis-inline {
    display: inline-block !important;
    width: auto !important;
    padding-right: 20px;
}
.half {
  width: 50% !important;
  float: left;
}
.pd20 {
    margin: 10px 10px 13px 0px !important;
}
#page-wrapper.full {
  margin-left: 0;
  background-color: #fff;
}
.pricing .col-md-3 {
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
}
.pricing .panel, .pricing .panel .panel-heading {
  border-radius: 0;
  border: 0;
  background: rgba(255, 224, 75, 0.68);
}
.panel.fst {
    background: #D04F55;
}
.panel.snd {
    background: #337B8C;
    margin-top: -10px;
    padding-bottom: 10px;
}
.panel.trd {
    background: #4859AB;
}
.panel.fth {
    background: #864ecb;
    margin-top: -10px;
    padding-bottom: 10px;
}
.pricing .panel .list-group-item, .pricing .panel .panel-footer {
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 13px;
}
.pricing .panel .list-group-item i {
  padding-right: 10px;
  width: 23px;
  text-align: center;
}
.pricing .panel .panel-body {
  background-color: transparent;
  margin-bottom: 0;
}
.pricing .panel .panel-body .lead strong {
    font-size: 40px;
}
.pricing .panel .panel-body .lead span {
    padding: 0 5px;
}
.pricing .panel .panel-body .lead {
  margin-bottom: 0;
}
.pricing .panel-heading h4 {
    margin: 0;
    font-weight: bolder;
    color: #000;
    font-size: 23px;
}
.pricing .panel {
  margin-bottom: 0;
}
a.btn-tr {
    color: #fff;
    background: rgba(0,0,0,0.3);
}
a.btn-tr:hover, a.btn-tr:focus {
    color: #fff;
    background: rgba(0,0,0,0.5);
}
.wrk-dys {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.submittion-section ul.nav {
    border-bottom: 0;
}
.submittion-section ul.nav li {
    float: none;
    margin-bottom: 0;
}
.submittion-section ul.nav li a, .submittion-section ul.nav li a:focus, .submittion-section ul.nav li a:hover {
    border-radius: 0;
    border: none;
    margin: 0;
    color: #127EBD;
}
.submittion-section ul.nav li.active a {
    background-color: #eee;
}
.submittion-section {
    background: #fff;
    float: left;
    width: 100%;
    padding: 15px 0;
}
.tab-content {
    margin: 0 0 0 -15px;
    overflow-y: auto;
    border-left: 1px solid #eee;
    padding-left: 15px;
    height: 500px;
}
.no-pad {
    padding: 0;
}
.submittion-section h3 {
    font-size: 18px;
    color: #5F5F5F;
    margin-bottom: 15px;
    margin-top: 0;
}
.agent-details {
    margin: 10px 0px 30px;
    float: left;
    width: 100%;
}
.agent-details .prof-pic {
    box-shadow: none;
    float: left;
    width: 150px;
    margin-top: 9px;
}
.agent-details .prof-pic img {
    border-radius: 0;
    border:0;
}
.agent-details ul {
    margin: 0;
    padding: 0;
    float: left;
}
.agent-details ul li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px dotted #DCDCDC;
    color: #000;
    font-size: 12px;
}
.agent-details ul li label {
    width: 125px;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    color: #777;
}
.agent-details ul li label:after {
    position: absolute;
    content: "";
    right: 20px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid #B7B7B7;
    border-bottom: 4px solid transparent;
    top: 8px;
}
.sub-content ul {
  margin: 0;
  padding: 0;
}
.sub-content ul li {
  list-style-type: none;
}
.sub-content {
    padding: 20px 5px 20px 15px;
    border-bottom: 1px solid #eee;
}
.sub-content p.que {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
    color: #4E5D6F;
    position: relative;
    padding-left: 60px;
    min-height: 60px;
}
p.que:before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0px;
    width: 50px;
    height: 55px;
    background: #4E5D6F;
}
p.que:after {
    position: absolute;
    content: "\f10d";
    top: 30%;
    left: 15px;
    font-family: 'fontAwesome';
    color: #fff;
    font-size: 21px;
}
.sub-content label {
    margin: 0 25px 0 0;
    font-weight: 500;
}
.sub-content label input {
    float: left;
    margin: 3px 7px 0 0;
}
.ans {
    color: #121212;
    font-size: 13px;
    margin-top: 25px;
}
#page-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#lightbox .modal-dialog {
    width: 70% !important;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#lightbox .modal-content img {
  width: 100%;
}
#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -5px;
    right: -5px;
    z-index:1032;
}
a.images-custom {
    margin-right: 10px;
}
a.images-custom img {
    height: 120px;
}
.mybuttons {
    background: #666;
    color: #fff;
    padding: 10px 30px;
    margin: 3px 10px 3px 0px;
    display: inline-block;
}
.mybuttons.grn {
    background: #26A079;
}
.mybuttons.red {
    background: #CA4242;
}
.mybuttons:hover {
    background: #000;
    color: #fff;
}
.add-surveys-top-round {
  text-align: center;
}
.add-surveys-box {
    background: #fff;
    padding: 50px 75px;
}
.round-box1 {
  display: block;
  margin: 7px auto 0px auto;
  width: 46px;
  height: 57px;
  line-height: 42px;
  font-weight: 700;
}
.round-box-bg {
  background: url(../images/round-box-n.png) center/cover;
}
.round-box-bg-hover {
  background: url(../images/round-box-h.png) center/cover;
}
.tab-content #home .fa, .tab-content #profile .fa, .tab-content #messages .fa {
  font-size: xx-large; color: #222;
}
.tab-content #home i, .tab-content #profile i, .tab-content #messages i {
  padding: 10px; margin-bottom: 10px; border:1px solid #333; border-radius: 5px;
}
.question-box-border {
  display: block; text-align: left;
}
#mcq, #mcq1, #mcq2, #text, #text1, #text2, #image, #image1, #image2, #audio, #audio1, #audio2 {
  display: none; padding: 20px 0px; border-bottom: 1px solid #ccc;
}
.add-surveys-box .tab-content {
  height: inherit; min-height: 200px;
}
#survay-2, #survay-3 {
  display: none;
}
#payment-top-tab a {
  margin-right: 10px;
}
.question-box {
  border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 15px;
}
.question-box label {
  margin-left: 0px;
}
#question-box-main {
  max-height: 500px; overflow-y: auto; 
}
.result_popup .popup-custom {
	margin-bottom: 0;
}
li.lang a {
    display: inline-block !important;
    padding: 0 !important;
}
li.lang a img {
    height: 33px;
}











.facts-list-icon {
    margin: 0 0 20px;
}
.facts-list-icon img {
    height: 75px;
}
img.static_image {
    width: inherit;
    height: inherit;
    max-height: none;
}

.item-list-left li .benefits_r {
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.industries_icons img {
    height: 80px;
}
.industries .bg-4 {
     background: #fff;
     margin-bottom: 0; 
}
.industries p {
    font-size: 16px;
}
.btn-plane {
    background: url(../images/fly_icon.png) center;
    background-size: cover;
    display: block;
    width: 32px;
    height: 22px;
    z-index: 99999999;
    position: relative;
}


body.login {
  background: url(../images/intro_bg.jpg) center;
  background-size: cover;
}
.login_card {
    margin: 182px auto 25px;
    width: 420px;
    padding: 25px 40px 25px;
    background-color: #f7f7f7;
    margin: 166px auto 13px;
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.login_card .login-Logo {
    margin: 0 auto 40px;
    display: block;
    max-width: 70%;
    max-height: 30%;
}
.input_custom {
    margin: 0 0 10px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 1px;
    color: #404040;
    width: 100%;
    display: block;
    height: 44px;
    font-size: 16px;
}
.password-reset, .password-reset:hover, .password-reset:visited {
    float: right;
    color: #545454;
    font-size: 12px;
    cursor: pointer;
}

.login-button {
    margin: 20px 0 15px;
    min-width: 46px;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
    width: 100%;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    outline: none;
}
.login-button:hover {
    background: transparent;
    color: #000;
}
.overlay {
    background: rgba(0, 0, 0, 0.42);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
body.fgt {
  background: #f2f2f2;
  text-align: left;
}
.login-form label {
    display: block;
    text-align: left;
    margin: 0 0 3px;
    font-weight: 600;
}
h1.post-title {
    text-transform: none;
    text-align: left;
    font-weight: 400;
    font-size: 21px;
    margin: 20px 15px 30px;
}
.signup_wraper {
    padding: 60px 0;
}
.login-form .col-md-6, .login-form .col-md-12 {
    padding-right: 0;
}
a.download_img {
    margin: 0 10px 10px 0;
    display: inline-block;
}
a.download_img img {
    height: 40px;
}
label.style-inline {
    float: left;
    margin: 0 20px 20px 0;
}
.gal-img .prof-pic {
    width: 150px;
}