/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 2.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.pd300 {
	margin: 30px 0;
}
table.custom {
    margin: 20px 0 0;
	width: 100%;
}
table.custom th {
    background: #59B95C;
    color: #fff;
    font-weight: normal;
    font-size: 17px;
    border-color: #59B95C;
    border-radius: 0;
}
table.custom td {
    padding: 10px 5px;
    border: none;
    border-radius: 0;
}
table.custom > thead > tr, table.custom > tbody > tr {
    border-bottom: 1px solid #E8E8E8;
}
h4.md_title {
    font-size: 24px;
    position: relative;
    z-index: 9999;
}
ul.activity_notification {
    border: 1px solid #f2f2f2;
}
ul.activity_notification li {
    padding: 10px 15px;
    border-bottom: 1px solid #f2f2f2;
	cursor: default;
}
ul.activity_notification li:hover {
    background: #f2f2f2;
}

ul.activity_notification li:last-child {
    border-bottom: none;
}
ul.activity_notification li .activity {
    margin-bottom: 2px;
}
ul.activity_notification li .activity_time {
    color: #B5B5B5;
    display: block;
}
ul.activity_notification li .activity_time i {
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 14px;
}
.btn.custom-green {
    background: #59B95C;
}
.btn.custom-green a {
    color: #fff;
}