table.fixedHeader-floating{
position:fixed;background-color:white;
vertical-align: bottom;
border-bottom: 0 !important;
color: #FFFFFF;
text-transform: uppercase;
text-align: center;
background: #58646B;
}
table.fixedHeader-floating.no-footer{
border-bottom-width:0;
border-bottom: 0 !important;
top:70px !important;
}
table.fixedHeader-locked{
position:absolute;background-color:white
}
table.fixedHeader-locked{
position:absolute;background-color:white
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px !important;
}
