@charset "utf-8";
/* CSS Document */


.tabs-left {
    border-bottom: medium none;
    padding-top: 40px;
}
.tabs-left {
    border-right: 1px solid #ddd;
}
.tabs-left > li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left > li {
    margin-right: -1px;
}
.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}
.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    display: block;
    margin-right: 0;
	padding:10px 15px;
}
.vertical-text {
    border: medium none;
    margin-top: 50px;
    position: relative;
}
.vertical-text > li {
    height: 20px;
    margin-bottom: 100px;
    width: 120px;
}
.vertical-text > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    border-right-color: transparent;
    text-align: center;
}
.vertical-text > li.active > a, .vertical-text > li.active > a:hover, .vertical-text > li.active > a:focus {
    border-bottom-color: transparent;
    border-left-color: #ddd;
    border-right-color: #ddd;
}
.vertical-text.tabs-left {
    left: -50px;
}
.vertical-text.tabs-right {
    right: -50px;
}
.vertical-text.tabs-right > li {
    transform: rotate(90deg);
}
.vertical-text.tabs-left > li {
    transform: rotate(-90deg);
}
