<article>
<header class="darken-1 panel-heading"> <strong>Chart</strong> <span class="tools pull-right"> <a href="javascript:;" class="fa fa-chevron-down"></a> 
                  <!--<a href="javascript:;" class="fa fa-times"></a>--> 
                  </span> </header>
<br />
<div class="page-content">
<div class="adv-table">
<?php echo $this->Session->flash(); ?>
                     <!-- <h2><i class="halflings-icon user"></i><span class="break"></span>Chart</h2>-->
                      <?php //pr($count); ?>
                   <div class="s12 m12 24">
                   <!-- ui tabs -->
                   <div class="s12 m12 l12">
                 
                  <div class="s12 tab-content">
                    
                    
                    <div id="test3" class="s12">
                   
                    	<canvas id="myChart" width="350" height="350"></canvas>
                        
                        <canvas id="myChart1" width="350" height="350"></canvas>
                        
                        <canvas id="myChart2" width="350" height="350"></canvas>
                        
                        <canvas id="myChart3" width="350" height="350"></canvas>
                        
                        <canvas id="myChart4" width="350" height="350"></canvas>
                        
                        <canvas id="myChart5" width="350" height="350"></canvas>
                                        
                    </div>
                    
                  </div>
              </div>
                   <!-- ui tabs end -->
          </div>
          </div>
          </div>
</article>