<article>
                <header class="darken-1 panel-heading"> <strong>Reports</strong> <span class="tools pull-right"> <a href="javascript:;" class="fa fa-chevron-down"></a> 
                  <!--<a href="javascript:;" class="fa fa-times"></a>--> 
                  </span> </header>
                  
                  
                <div class="panel-body"> 
                
                  <div class="adv-table">
                    
                      
                      <div class="s12 m12 24" id="add-new-table">
                        <table class="responsive-table display" cellspacing="0">
                        	<tr>
                            	<td><label class="control-label" for="typeahead">Start Date</label></td>
                                <td><input name="data[start_date]" id="start_date some_class_1" class="validate date-input-css some_class" onkeypress="return onlyDotsandNumbers (event)" required="required" type="text"></td></tr>
                            <tr>
                            	<td><label class="control-label" for="typeahead">End Date</label></td>
                                <td><input name="data[end_date]" id="end_date some_class_2" required="required" class="validate date-input-css some_class" onkeypress="return onlyDotsandNumbers (event)" type="text"></td></tr>
                            <tr>
                            	<td><label class="control-label" for="typeahead">Cities </label></td>
                                <td><select name="city_id" id="city_id">
								
                                                                            <option value="67">Delhi</option>
                                                                                <option value="70">BANGALORE</option>
                                                                                <option value="81">Kolkata</option>
                                                                                <option value="83">Pune</option>
                                                                                <option value="84">Mumbai</option>
                                                                                <option value="85">Indore</option>
                                                                                <option value="86">Solapur</option>
                                                                        </select></td>
                            </tr>
                            <tr>
                            	<td><label class="control-label" for="typeahead">Type</label></td>
                                <td><div class="input select"><label for="viewType"></label><select name="data[end_date]" id="viewType">
<option value="1">User</option>
<option value="2">Merchant</option>
<option value="3">Deals</option>
<option value="4">Services</option>
<option value="5">Promocodes</option>
<option value="6">Bookings</option>
</select></div></td>
                            </tr>
                            
                            <tr>
                            	<td>&nbsp;</td>
                                <td><button type="submit" class="btn btn-round" onclick="history.go(-1)">Submit</button>
                                <button type="button" class="btn btn-round" onclick="history.go(-1)">Cancel</button><br />
<br />
</td>
                            </tr>
                        </table>
                      </div>
                  </div>
                </div>
              </article>