<article>
                <header class="darken-1 panel-heading"> <strong>Set Default Timezone</strong> <span class="tools pull-right"> <a href="javascript:;" class="fa fa-chevron-down"></a> 
                  </span> </header>
                <div class="panel-body"> 
                  <div class="adv-table">                     
                      <div class="s12 m12 24" id="add-new-table">
                        <table class="responsive-table display" cellspacing="0">
                        	<tr>
                            	<td>Set Time</td>
                                <td><input name="data[NewsletterTemplate][name]" type="text" size="45" maxlength="255" id="NewsletterTemplateName"></td>
                            </tr>
                            <tr>
                            	<td>&nbsp;</td>
                                <td><button type="submit" class="btn btn-round" onclick="history.go(-1)">Save</button>
                                <br />
<br />
</td>
                            </tr>
                        </table>
                        
                      </div>
                  </div>
                </div>
              </article>