<div class="row">
		  <h1 class="page-header">Take a Test to take part in Surveys</h1>
		  <div class="clearfix"></div>
		  <div class="add-surveys-box shadow" id="account-setting">
			
				<div class="wrapper">
			
			<div class="clearfix"></div>
			  <form>
			<div class="tabscontent">
				 <p>Lorem ipsum dolor sit amet, pellentesque est sodales ipsum aliquam. Nunc felis pharetra urna, neque diam ante amet ut blandit, sit nullam sit mattis tincidunt, est accumsan, ipsum scelerisque tempus. Sed euismod nulla dolor nonummy iaculis, wisi tempor nunc volutpat. Lacus suscipit, tempor ut libero sit nec. Fringilla dignissim at metus, sit sed metus lacus. Mi non nec nunc sollicitudin, donec ullamcorper in aptent, viverra nulla, vulputate lorem dignissim.</p>
	
				 <p>Etiam aliquam commodo eu odio mauris, aenean purus, aliquam ornare at neque. Aliquam eget sapien enim mi rutrum quam, nec nulla fermentum enim dolor donec, amet convallis vivamus feugiat volutpat. Vel tristique vestibulum illo, maecenas non vel lacus nostra amet dis, morbi laudantium urna lacinia quis mauris turpis, hendrerit est urna quam. Ut sit metus elit, orci fermentum molestie euismod risus cras, conubia in in a lobortis proin.</p>
	
	<p>Ut metus nunc, in arcu arcu tellus dapibus quis pede, maecenas vestibulum in, duis a aenean risus nunc, tempus non massa mauris. Dignissim nisl ut velit sit leo bibendum, id turpis a molestie felis vel non, porttitor libero iaculis magna, quis scelerisque felis lorem. Porta cursus lacus vivamus vivamus elit donec, et eius, maecenas magna. Cras etiam, cras sem dis sit semper, vulputate dapibus vestibulum eu risus nibh suspendisse, id dignissim justo, sagittis eu arcu metus. Placerat felis vivamus nonummy aliquet lorem, tempor ea mauris, nunc libero, sed volutpat molestie, eu arcu sodales vel ipsum erat sed.</p>
	
	<p>Pellentesque at penatibus, suspendisse tempor, massa sit sem risus, ut arcu nunc at nullam. Mi cursus velit pede egestas praesent, sed ac, ligula massa eget tortor, phasellus urna dignissim sapien vel dui. Potenti gravida, scelerisque iaculis gravida sed proin semper. Hendrerit faucibus luctus pellentesque et, pulvinar arcu, consequat donec fusce eget quis nunc, eleifend neque.</p>
		</div>
		<div class="clearfix"></div>
		<br>
		  <strong>USD 9.99</strong>
		  <button href="" class="btn-custom1 create-job pull-right" type="submit">Pay Now</button>
		  
			  </form>
			  
		  </div>
		</div>
	  </div>