<h1><?php echo h($cateogry['Category']['name']); ?></h1>

<p><small>Manufacturer: <?php echo $cateogry['Category']['userid']; ?></small></p>

<p><?php echo h($cateogry['Category']['password']); ?></p>