<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>

<body>
hola
adios
</body>

<script type="text/javascript">
	
    function init(val){
		var data = {
                                  foo:  123,
                                  bar:  456,
                                  rows: [
                                          {
                                            column1 : 'hello',
                                            column2 : 'hola',
                                            column3 : 'bonjour',
                                          },
                                          {
                                            column1 : 'goodbye',
                                            column2 : 'hasta luego',
                                            column3 : 'au revoir',
                                          },
                                        ],
                                  test1:{
                                          test2: {
                                                   test3:  'baz'
                                                 }
                                        }
                                };
 
                    $.ajax({
                            type:           'post',
                            cache:          false,
                            url:            'ap2',
                            data:           data,
							success: function(msg){
        						location.href = "book_appointment";
    						}
                           });
	
	
	 			
	
  
	
    }
	init(123456);
</script>
</html>



<!--<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>

<body>
hola
adios
</body>

<script type="text/javascript">
	var pets = '{"pets":[{"name":"jack"},{"name":"john"},{"name":"joe"}]}';
	var arr = JSON.parse(pets);
	//alert(arr.pets[0].name);
    function init(val){
// Do whatever you want with your parameter val
	for(i=0;i<3;i++)
	{
	alert(arr.pets[i].name);
    }
	}
	init(arr);
</script>
</html>-->

